---
layout: default
title: 2018 courses and workshops - Scout Digital Training
title-header: 2018 Digital Marketing and Analytics Training Courses and Workshops
meta-description: Be prepared for a successful 2018 with our range of half day, in person courses and workshops held in Adelaide's CBD. Social Media Marketing, Google Adwords, Google Analytics, Email Marketing and SEO.
featured-image_path: /images/scout-digital-trainers-July-2018.jpg
---
<section class="width-80 no-bottom-padding">
  <h3> Scout Digital Training is dedicated to providing practical and effective digital training to small groups and individuals for a variety of industries. </h3>
  <p> Whether you’re seeking to advance your career, become a leader in your field, increase your online reach or meet your marketing objectives, these in person, courses and workshops will leave you feeling confident and filled with extra knowledge and skills. </p>
  <p> Our educational sessions work with your existing knowledge to boost efficiency and ensure you get the absolute most out of the training and workshops. </p>
  <h5> We offer </h5>
  <ul>
    <li> genuine guidance and personalised advice </li>
    <li> expertise on best practices and </li>
    <li> technical knowledge and proven techniques. </li>
  </ul>
  <p></p>
  <p> With years of expertise in the digital marketing arena, our approach is friendly, professional, trustworthy and knowledgeable. <strong> View our 2018 courses and workshops below. </strong></p>
</section>

            <section class="grid-middle no-padding">
            <div class="col-2_md-3_sm-6">
                <a class="button-inverted" href="/social-media-training"> Social Media Marketing </a>
            </div>
            <div class="col-2_md-3_sm-6">
                <a class="button-inverted" href="/email-marketing-training" target="_blank"> Email Marketing </a>
            </div>
            <div class="col-2_md-3_sm-6">
                <a class="button-inverted" href="/google-adwords-training"> Google Adwords </a>
            </div>
            <div class="col-2_md-3_sm-6">
                <a class="button-inverted" href="/google-analytics-training" target="_blank"> Google Analytics </a>
            </div>
            <div class="col-2_md-3_sm-6">
                <a class="button-inverted" href="/seo-training" target="_blank"> Search Optimisation </a>
            </div>
        </section>

  <section class="grid-centered no-padding centred">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-consults.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-webinar-organisation.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-adwords-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-fb-ig-ads-individual.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-tw-li-ads.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-fb-bm.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-adwords-optimisation.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-strategy.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-seo-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-seo-further.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-fb-ig-ads-multiple.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-ga-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-analytics.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-ga-further.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-email-intro.html %}
    </div>

  </section>
