---
layout: default
title: Conversion Rate Optimisation - Training Course in Adelaide
title-header: Conversion Rate Optimisation
meta-description: With this unique valuable course, you’ll uncover how to turn more visitors into genuine sales leads and customers and improve your conversion rate.
featured-image_path: /images/conversion-rate-optimisation-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h2>Course Overview:</h2>
      <h3> With an average conversion rate of two per cent on most ecommerce sites, it’s incredibly valuable to know all that we can to increase our onsite conversion rate. </h3>
      <p> You may have plenty of site traffic but are not happy with activity; you want more sales and clicks to the right places. With this unique course you’ll uncover how to turn visitors into genuine sales leads and customers. </p>
      <p> This is a high impact session that will instil useful skills to help you bring performance to the forefront. If you’re bored of not achieving outstanding results then it’s time to take the leap into optimising your site’s conversion rates. </p>
      <h3> This course will cover: </h3>
      <p>
        <ul>
          <li> conversion rate optimisation </li>
          <li> using heat maps for conversion rate optimisation (Hotjar) and why’re they’re beneficial </li>
          <li> introduction to A/B Testing </li>
          <li> using Google Optimize to A/B test your website </li>
        </ul>
      </p>
      <h3> Course objectives: </h3>
      <p>
        <ul>
          <li> to provide practical skills and advice for measuring and incrementally improving the performance of your website. </li>
        </ul>
      </p>
      <h3> This course is for: </h3>
      <p>
        <ul>
          <li> business owners and webmasters who manage a website that tracks conversions and that preferably has a minimum of 4000 visits per month </li>
          <li> marketers and account managers who manage a website that tracks conversions and that preferably has a minimum of 4000 visitors per month </li>
          <li> website developers who work with websites that track conversions and that preferably has a minimum of 4000 visitors per month. </li>
        </ul>
      </p>
      <h3> What’s included: </h3>
      <p>
        <ul>
          <li>light refreshments</li>
          <li>modern computer training room</li>
          <li>individual computers (PC) and the necessary internet access and software</li>
          <li>full set of training resources</li>
          <li>high quality training</li>
        </ul>
      </p>
      <h3> Prerequisites: </h3>
      <p>
        <ul>
          <li> an active website with Google Analytics tracking installed and ideally at least one month’s worth of data and preferably has a minimum of 4000 visits per month </li>
          <li> if you require assistance with checking whether your website and Google Analytics is set up correctly, you can request a review from us during the online registration process </li>
          <li> a comprehensive understanding of the capabilities of Google Analytics, especially regarding conversion tracking (covered in our <a href="/google-analytics-further">Taking Google Analytics Further</a> course). </li>
        </ul>
      </p>
      <p> Each session is restricted to limited participants (six to twenty attendees), so you have the opportunity to fully benefit from the trainer’s knowledge and advice. </p>
      <!-- <a class="button-inverted" href="https://www.eventbrite.com/e/conversion-rate-optimisation-tickets-42217744410" target="_blank"> Get more measurable results. Book here. </a> -->

<div>
{% include course-price-discount.html %}
</div>

  <div class="background-grey">
      {% include profile-petra.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Course details: </h3>
      <img src="/images/conversion-rate-optimisation.jpg" />
      <h5> Conversion Rate Optimisation </h5>
      <p> Investing in this course might be one of the most profitable things you do this year. Especially as you start to see your website or ecommerce goals being maximised by learning valuable ways and practical skills and advice for measuring and improving the performance of your website. </p>
      <p> <strong> Duration: </strong> Half day (morning) </p>
      <p> <strong> Date: </strong>None currently scheduled </p>
      <p> <strong> Time: </strong> 9am - 1pm (4 hours) </p>
      <p> <strong> Location: </strong> The IVC, 19 Young Street, Adelaide, South Australia </p>
      {% include course-price.html %}
      <p> <em> Discount available when booked with other courses </em> </p>
      <!-- <a class="button-inverted" href="" target="_blank"> Join Now </a> -->
    </div>

  <div>
    {% include venue-summary.html %}
  </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related courses: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-ga-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-ga-further.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-ga-ecommerce.html %}
    </div>

  </div>

</section>
