---
layout: default
title: Taking Your Email Marketing Further - Training Course in Adelaide
title-header: Taking Your Email Marketing Further
meta-description: Save time and money and drive more conversion rates by discovering segmentation, automated emails and subscriber nurturing in your email marketing.
featured-image_path: /images/email-marketing-further-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h2>Course Overview:</h2>
      <h3> In this follow on course, we delve deeper into segmentation, by really honing in to who your customers and clients are and how they best like to be communicated to. </h3>
      <p> By segmenting your lists, your emails will outperform non segmented lists. <a href="https://mailchimp.com/resources/research/effects-of-list-segmentation-on-email-marketing-stats" target ="_blank">Source</a> </p>
      <p> You’ll also unearth how to set up automated email marketing and nurture the subscribers on your list saving you time and money, driving higher open rates and conversions and how to avoid your emails ending up in the dreaded junk mail folder. </p>
      <p> It’s time to stop guessing and start really communicating with value. </p>
      <h3> This course will cover: </h3>
      <p>
        <ul>
          <li> costs and benefits of stand alone email software packages versus all in one automated platforms </li>
          <li> how integrations between MailChimp and other email software (such as Eventbrite, Google Analytics and Shopify etc) can impact your email marketing </li>
          <li> boosting your communication with your supporters’ social media activity </li>
          <li> using merge tags to personalise your emails and increase response rates </li>
          <li> advanced segmentation </li>
          <li> email tone, frequency and relevancy </li>
          <li> a brief look at methods to increase subscribers, such as opt in incentives </li>
          <li> the double opt in process </li>
          <li> using old lists, resolving bounced subscribers and troubleshooting bounce rate blockages </li>
          <li> discuss what to test and how to test with A/B testing </li>
          <li> auto responders </li>
          <li> an introduction to planning automation flow emails </li>
          <li> leveraging your email list in Facebook advertising </li>
        </ul>
      </p>
      <p> <strong> Please note:</strong> This course focuses on the best practices involved with advanced email marketing and introduction email marketing automation, rather than being an in depth demonstration of specific email marketing and automation platforms. It is ideal for anyone who wants to understand the options and capabilities with advanced email marketing, but is unable to focus on a single platform. We will mention various platforms, but focus on providing strategic skills and advice that can be used across multiple platforms. For specific email or marketing automation platform support, you can contact the platform itself, or contact us for dedicated consultancy support.</p>
      <h3> Course objectives: </h3>
      <p>
        <ul>
          <li> to be able to use advanced email marketing techniques to build and grow business sales. </li>
        </ul>
      </p>
      <h3> This course is for: </h3>
      <p>
        <ul>
          <li> experienced email marketers who are looking to take their skills and knowledge to the next level </li>
          <li> first time email marketers who want to get straight into email marketing automation </li>
          <li> business owners who want to understand online lead generation. </li>
        </ul>
      </p>
      <h3> What’s included: </h3>
      <p>
        <ul>
          <li>light refreshments</li>
          <li>full set of training resources</li>
          <li>high quality training</li>
        </ul>
      </p>
      <h3> Prerequisites: </h3>
      <p>
        <ul>
          <li> attendance to our <a href="/email-marketing-intro">Introduction to Email Marketing</a> course or the equivalent knowledge and experience </li>
          <li> good list management skills </li>
          <li> existing account with an email marketing system </li>
          <li> ability to edit and resize images. </li>
        </ul>
      </p>
      <p> <strong>Please note:</strong> An existing email automation platform account is not required. This course is ideal for anyone who is wanting to take their email marketing to the next level, and wants to understand what is involved. As it is not platform specific (and we are definitely not trying to sell you a specific platform) it is an ideal way to understand the options and use the information to make an informed decision regarding which system you may proceed with. </p>

      <a class="button-inverted" href="https://www.eventbrite.com/e/taking-your-email-marketing-further-tickets-42187330441" target="_blank"> Become an email marketing master here. </a>
<div>
{% include course-price-discount.html %}
</div>

  <div class="background-grey">
      {% include profile-fiona.html %}
  </div>

  <div class="background-grey">
      {% include profile-erica.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Course details: </h3>
      <img src="/images/email-marketing-further.jpg" />
      <h5> Taking your email marketing further </h5>
      <p> In this follow on course, we delve deeper into segmentation, automated emails and subscriber nurturing, helping you save time and money and drive higher open and conversion rates with your email marketing. </p>
      <p> <strong> Duration: </strong> Half day (morning) </p>
      <p> <strong> Date: </strong>Thursday 10 May 2018 </p>
      <p> <strong> Time: </strong> 9am - 1pm (4 hours) </p>
      <p> <strong> Location: </strong> Intersect, 167 Flinders Street, Adelaide, South Australia </p>
      {% include course-price.html %}
      <p> <em> Discount available when booked with other courses </em> </p>
      <a class="button-inverted" href="https://www.eventbrite.com/e/taking-your-email-marketing-further-tickets-42187330441" target="_blank"> Join Now </a>
    </div>

  <div>
    {% include venue-summary.html %}
  </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related courses: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-email-intro.html %}
    </div>

  </div>

</section>
