---
layout: default
title: Introduction to Email Marketing - Training Course in Adelaide
title-header: Introduction to Email Marketing
meta-description: Improve your email marketing campaigns with this introductory course to email marketing which covers the fundamentals of terrific email marketing.
featured-image_path: /images/email-marketing-intro-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h2>Course Overview:</h2>
      <h3> With real life case studies, you’ll be shown the way to excellence in email marketing, not just for the short term but for the long term. </h3>
      <p> If you’re not sure where to start with email marketing or what to do with an existing subscriber list, our Introduction to Email Marketing course will heighten your marketing campaigns. </p>
      <p> Not only covering the basics, you’ll be thrust into the profitable world of designing your templates, setting up subscriber lists, reporting and assessing performance and uncovering tricks and tips. </p>
      <p> Plus, we’ll demonstrate a recent Adelaide case study that saw new clients and over $5000 income generated in one year from just eighty subscribers. </p>
      <h3> This course will cover: </h3>
      <p>
        <ul>
          <li> benefits of email marketing as part of your digital marketing strategy </li>
          <li> best practices for creating and sending email campaigns </li>
          <li> Australia's Privacy Legislation, anti spam requirements and email etiquette </li>
          <li> hints and tips on how to get started with your first email </li>
          <li> a real life case study of subject lines </li>
          <li> creating an email in MailChimp </li>
          <li> discussing effective ways to build your email list and grow subscribers </li>
          <li> segmentation, what data to collect and how </li>
          <li> uploading subscriber data and matching fields </li>
          <li> single issue emails with call to action versus enewsletters </li>
          <li> image sizes and the importance of mobile responsiveness </li>
          <li> campaign report metrics, with a focus on open and click through rates. </li>
        </ul>
      </p>
      <p> <strong> Please note:</strong> this course focuses on email marketing best practices in general, regardless of email marketing system being used, however most demonstrations and examples provided will use <a href="https://mailchimp.com" target="_blank">MailChimp</a>. We will ask what email marketing system you use during the online registration process, and if possible, cover it during the session. </p>
      <h3> Course objectives: </h3>
      <p>
        <ul>
          <li> to provide practical skills in how to get started with your email marketing </li>
          <li> to understand the do’s and don’ts for good email communication </li>
          <li> to provide confidence to kickstart or re-energise business sales or membership engagement </li>
        </ul>
      </p>
      <h3> This course is for: </h3>
      <p>
        <ul>
          <li> business owners </li>
          <li> marketers </li>
          <li> freelancers and consultants </li>
          <li> volunteers managing their member and supporter lists. </li>
        </ul>
      </p>
      <h3> What’s included: </h3>
      <p>
        <ul>
          <li>light refreshments</li>
          <li>modern computer training room</li>
          <li>individual computers (PC) and the necessary internet access and software</li>
          <li>full set of training resources</li>
          <li>high quality training</li>
        </ul>
      </p>
      <h3> Prerequisites: </h3>
      <p>
        <ul>
          <li> working knowledge of Excel or similar spreadsheet software </li>
          <li> an existing account with an email marketing system (we will ask which one during the online registration process) </li>
          <li> if you do not have an existing account you can create a free MailChimp account to use during the activity components of the session </li>
        </ul>
      </p>
      <p> Each session is restricted to limited participants (six to twenty attendees), so you have the opportunity to fully benefit from the trainer’s knowledge and advice. </p>
      <a class="button-inverted" href="#" target="_blank"> Do more than just hit send. Register now. </a>

<div>
{% include course-price-discount.html %}
</div>

  <p class="margin-top">Add EventBrite widget here.</p>

  <hr> </hr>

  <div class="background-grey">
      {% include profile-fiona.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Course details: </h3>
      <img src="/images/email-marketing-intro.jpg" />
      <h5> Introduction to email marketing </h5>
      <p> Heighten your email marketing campaigns with this introductory course to email marketing where we’ll thrust you into the profitable world of designing your templates, setting up subscriber lists, reporting and assessing performance and uncovering tricks and tips.  </p>
      <p> <strong> Duration: </strong> Half day (morning) </p>
      <p> <strong> Date: </strong>Thursday 26 April 2018 </p>
      <p> <strong> Time: </strong> 9am - 1pm (4 hours) </p>
      <p> <strong> Location: </strong> The IVC, 19 Young Street, Adelaide, South Australia </p>
      {% include course-price.html %}
      <p> <em> Discount available when booked with other courses </em> </p>
      <a class="button-inverted" href="#" target="_blank"> Join Now </a>
    </div>

  <div>
    {% include venue-summary.html %}
  </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related courses: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-email-further.html %}
    </div>

  </div>

</section>
