---
layout: default
title: Email Marketing Training Courses in Adelaide
title-header: Email Marketing Training Courses
meta-description:
featured-image_path: /images/
---

  <section class="width-80">

        <h4> Introduction sentence. </h4>
        <p> Short paragraph. </p>

  </section>

  <section class="grid-centered no-padding centred">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-email-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-email-further.html %}
    </div>

  </section>
