---
layout: default
title: Mastering Facebook and Instagram Advertising (multiple accounts) - Training Workshop in Adelaide
title-header: Mastering Facebook and Instagram Advertising (for multiple accounts)
meta-description: Learn how to take your social media marketing to the next level and drive strategic results with paid campaigns for Facebook and Instagram, while managing multiple accounts.
featured-image_path: /images/social-media-advertising-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h2>Workshop overview:</h2>
      <h3> You already understand the power of social media, so take it further with a strategic approach to planning, setting up and managing effective Facebook and Instagram advertising campaigns for multiple accounts. </h3>
      <p> This workshop is designed specifically for social media marketers, consultants and agencies who work with multiple clients and accounts. </p>
      <p> It is essential that social media advertising campaigns are both effective AND efficient, and this workshop will show you how. </p>
      <h3> This workshop will cover: </h3>
      <p>
        <ul>
          <li> the power of paid advertising and the significant results it can bring </li>
          <li> strategic campaign planning </li>
          <li> a deep dive into Facebook Ads Manager </li>
          <li> how to interpret and utilise social media advertising insights. </li>
        </ul>
      </p>
      <h3> Workshop objectives: </h3>
      <p>
        <ul>
          <li> to strategically plan ad campaigns to meet business objectives </li>
          <li> to develop understanding and confidence in all options available for advertising on Facebook and Instagram </li>
        </ul>
      </p>
      <h3> This workshop is for: </h3>
      <p>
        <ul>
          <li> people who manage multiple Facebook Pages and/or Instagram accounts </li>
          <li> if you manage an individual Facebook Page/Instagram account, please see our <a href="/facebook-instagram-advertising-individual">Mastering Facebook and Instagram Ads (for individual accounts)</a> workshop </li>
        </ul>
      </p>
      <h3> What’s included: </h3>
      <p>
        <ul>
          <li>light refreshments</li>
          <li>full set of training resources</li>
          <li>high quality training</li>
        </ul>
      </p>
      <h3> Prerequisites: </h3>
      <p>
        <ul>
          <li> Admin access to multiple Facebook Pages/Instagram accounts </li>
          <li> an understanding of social media and its application in a business environment (this is covered in our <a href="/social-media-intro"> Social Media for Business</a> workshop) </li>
          <li> access to Facebook Ads Manager </li>
          <li> access to and an understanding of Facebook Business Manager (this is covered in our Mastering Facebook Business Manager workshop) </li>
          <li> please download the free Facebook Ads Manager app to your smartphone prior to the session (for managing and monitoring ads via your mobile device). </li>
          <li> <a href="https://itunes.apple.com/us/app/facebook-ads-manager/id964397083?mt=8" target="_blank">Facebook Ads Manager app for iOS</a> </li>
          <li> <a href="https://play.google.com/store/apps/details?id=com.facebook.adsmanager&hl=en" target="_blank">Facebook Ads Manager app for Android</a> </li>
        </ul>
      </p>
      <p> <strong> Please note: </strong>You are required to bring your own laptop. </p>
      <p> Each session is restricted to limited participants (six to ten attendees), so you have the opportunity to fully benefit from the trainer’s knowledge and advice. </p>

      <a class="button-inverted" href="https://www.trybooking.com/book/event?embed&eid=395066" target="_blank"> Power up your profits with social media advertising. Book your spot. </a>

<div>
{% include course-price-discount.html %}
</div>

  <div class="background-grey">
      {% include profile-jen.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Workshop details: </h3>
      <img src="/images/social-media-advertising.jpg" />
      <h5> Mastering Facebook and Instagram Advertising (for multiple accounts) </h5>
      <p> Learn how to take your social media marketing to the next level and drive strategic results with paid campaigns for Facebook and Instagram, while managing multiple accounts. </p>
      <p> <strong> Duration: </strong> Half day (morning) </p>
      <p> <strong> Date: </strong> Tuesday 11 September 2018 </p>
      <p> <strong> Time: </strong> 8:30am - 1pm (4.5 hours) </p>
      <p> <strong> Location: </strong> Intersect, 167 Flinders Street, Adelaide, South Australia </p>
      {% include course-price.html %}
      <p> <em> Discount available when booked with other sessions </em> </p>
      <a class="button-inverted" href="https://www.trybooking.com/book/event?embed&eid=395066" target="_blank"> Join Now </a>
    </div>

  <div>
    {% include venue-summary.html %}
  </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related workshops: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-consults.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-webinar-organisation.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-fb-ig-ads-individual.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-tw-li-ads.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-facebook.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-fb-bm.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-instagram.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-twitter.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-linkedin.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-strategy.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-content.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-analytics.html %}
    </div>

  </div>

</section>
