---
layout: default
title: Mastering Facebook Business Manager - Training Workshop in Adelaide
title-header: Mastering Facebook Business Manager
meta-description: Facebook Business Manager is a must for anyone juggling multiple Facebook Pages and Ad accounts. Understand how to set up and use this powerful platform.
featured-image_path: /images/facebook-business-manager-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h2>Workshop overview:</h2>
      <h3> Facebook Business Manager creates a central space to manage your business pages separate from your personal Facebook profile. It also allows you to manage multiple ad accounts, to save you from mixing business content with personal content. </h3>
      <p> While Facebook Business is incredibly useful, it can take a bit to get your head around. Save yourself time and headaches with our practical walk through of the platform, to ensure you have the understanding and confidence to leverage its power. </p>
      <h3> This workshop will cover: </h3>
      <p>
        <ul>
          <li> creating a Facebook Business Manager Account </li>
          <li> adding multiple pages / client pages </li>
          <li> adding multiple ad accounts / client accounts </li>
          <li> reviewing Audience Insights and Creative Hub features. </li>
        </ul>
      </p>
      <h3> Workshop objectives: </h3>
      <p>
        <ul>
          <li> to understand the purpose of and options within Facebook Business Manager </li>
          <li> to develop the confidence to manage Facebook Pages and Ad accounts within Business Manager. </li>
        </ul>
      </p>
      <h3> This workshop is for: </h3>
      <p>
        <ul>
          <li> those responsible for managing multiple Facebook Pages/Ad accounts </li>
          <li> social media marketers </li>
          <li> consultants </li>
          <li> agencies and account managers </li>
          <li> those who have existing Business Manager accounts and are unsure how to use them. </li>
        </ul>
      </p>
      <h3> What’s included: </h3>
      <p>
        <ul>
          <li>full set of training resources</li>
          <li>high quality training</li>
        </ul>
      </p>
      <h3> Prerequisites: </h3>
      <p>
        <ul>
          <li> Admin access to multiple Facebook Pages </li>
          <li> an understanding of social media and its application in a business environment (this is covered in our <a href="/social-media-intro"> Social Media for Business</a> workshop) </li>
        </ul>
      </p>
      <p> <strong> Please note: </strong>You are required to bring your own laptop. </p>
      <p> Each session is restricted to limited participants (six to ten attendees), so you have the opportunity to fully benefit from the trainer’s knowledge and advice. </p>

      <a class="button-inverted" href="https://www.trybooking.com/book/event?embed&eid=395085" target="_blank"> Be prepared to better manage your Facebook Business Pages. </a>

  <div class="background-grey">
      {% include profile-jen.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Workshop details: </h3>
      <img src="/images/facebook-business-manager.jpg" />
      <h5> Mastering Facebook Business Manager </h5>
      <p> Facebook Business Manager is a must for anyone juggling multiple Facebook Pages and Ad accounts. Understand how to set up and use this powerful platform. </p>
      <p> <strong> Duration: </strong> 1.5 hours (afternoon) </p>
      <p> <strong> Date: </strong> Tuesday 31 July 2018 </p>
      <p> <strong> Time: </strong> 2 - 3:30pm (1.5 hours) </p>
      <p> <strong> Location: </strong> Intersect, 167 Flinders Street, Adelaide, South Australia </p>
      <p> <strong> Cost: $150 + BF + GST </strong> </p>
      <a class="button-inverted" href="https://www.trybooking.com/book/event?embed&eid=395085" target="_blank"> Join Now </a>
    </div>

  <div>
    {% include venue-summary.html %}
  </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related workshops: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-consults.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-webinar-organisation.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-fb-ig-ads-individual.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-tw-li-ads.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-facebook.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-instagram.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-twitter.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-linkedin.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-strategy.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-content.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-fb-ig-ads-multiple.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-analytics.html %}
    </div>

  </div>

</section>
