---
layout: default
title: Google Adwords Training Courses in Adelaide
title-header: Google Adwords (text ads) Training Courses
meta-description:
featured-image_path: /images/
---

  <section class="width-80">

        <h4> Introduction sentence. </h4>
        <p> Short paragraph. </p>

  </section>

  <section class="grid-centered no-padding centred">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-adwords-setup.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-adwords-analysis.html %}
    </div>

  </section>
