---
layout: default
title: Introduction to Google Tag Manager - Training Course in Adelaide
title-header: Introduction to Google Tag Manager
meta-description: In this outstanding workshop you'll develop an understanding of the capabilities of Google Tag Manager that can be directly applied to your website.
featured-image_path: /images/google-tag-manager-intro-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h2>Course Overview:</h2>
      <h3> Learn to implement the most worthwhile tracking and analytics system by getting to know Google Tag Manager. </h3>
      <p> Google Tag Manager manages code snippets for you and makes it far easier for marketers to track all the user behaviour on your site and find out where people come from so that you can capitalise on this information to save time and thousands of wasted advertising dollars. </p>
      <p> By understanding Google Tag Manager you’ll be able to determine whether your digital marketing, conversion tracking, affiliates and advanced customer insight services are all on track. </p>
      <p> Additionally, you’ll learn macros and rules and develop an understanding of the capabilities and fundamentals of Google Tag Manager that can be directly applied to your website. </p>
      <p> It’s a really powerful tool that all marketers should have in their toolkit, especially if you want to improve your marketing spend and make your organisation more agile. </p>
      <h3> This course will cover: </h3>
      <p>
        <ul>
          <li> tags, triggers, variables and more </li>
          <li> testing if your data is coming through correctly </li>
          <li> setting up a conversion for Google Adwords or Facebook Pixel </li>
          <li> setting up with Google Analytics and ensuring no data loss. </li>
        </ul>
      </p>
      <h3> Course objectives: </h3>
      <p>
        <ul>
          <li> to develop a basic understanding of the capabilities of Google Tag Manager </li>
          <li> to develop the confidence and skills to set up and test basic tags, triggers and variables in Google Tag Manager </li>
        </ul>
      </p>
      <h3> This course is for: </h3>
      <p>
        <ul>
          <li> business owners </li>
          <li> webmasters and website developers </li>
          <li> marketers </li>
          <li> account managers </li>
          <li> and anyone else who wants to understand how to make the most of their website tracking capabilities using Google Tag Manager. </li>
        </ul>
      </p>
      <h3> What’s included: </h3>
      <p>
        <ul>
          <li>light refreshments</li>
          <li>modern computer training room</li>
          <li>individual computers (PC) and the necessary internet access and software</li>
          <li>full set of training resources</li>
          <li>high quality training</li>
        </ul>
      </p>
      <h3> Prerequisites: </h3>
      <p>
        <ul>
          <li> an active website or blog </li>
          <li> a comprehensive understanding of the capabilities of Google Analytics, especially regarding conversion tracking (covered in our <a href="/google-analytics-further">Taking Google Analytics Further</a> course). </li>
        </ul>
      </p>
      <p> Each session is restricted to limited participants (six to twenty attendees), so you have the opportunity to fully benefit from the trainer’s knowledge and advice. </p>
      <a class="button-inverted" href="#" target="_blank"> Discover Google Tag Manager capabilities today. </a>

<div>
{% include course-price-discount.html %}
</div>

  <p class="margin-top">Add EventBrite widget here.</p>

  <hr> </hr>

  <div class="background-grey">
      {% include profile-petra.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Course details: </h3>
      <img src="/images/google-tag-manager-intro.jpg" />
      <h5> Introduction to Google Tag Manager </h5>
      <p> Learn to implement and manage the most worthwhile tracking and analytics system by getting to know the capabilities and possibilities of Google Tag Manager. </p>
      <p> <strong> Duration: </strong> Half day (morning) </p>
      <p> <strong> Date: </strong>Thursday 17 May 2018 </p>
      <p> <strong> Time: </strong> 9am - 1pm (4 hours) </p>
      <p> <strong> Location: </strong> The IVC, 19 Young Street, Adelaide, South Australia </p>
      {% include course-price.html %}
      <p> <em> Discount available when booked with other courses </em> </p>
      <a class="button-inverted" href="#" target="_blank"> Join Now </a>
    </div>

  <div>
    {% include venue-summary.html %}
  </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related courses: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-gtm-further.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-ga-gtm-remarketing.html %}
    </div>

  </div>

</section>
