---
layout: default
title: Introduction to Google Adwords (Text Ads) - Training Course in Adelaide
title-header: Introduction to Google Adwords (Text Ads)
meta-description: In this handy and enlightening course, you’ll learn to create effective Google Adwords that encourage more traffic to your website or business.
featured-image_path: /images/google-adwords-setup-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h2>Course Overview:</h2>
      <h3> Learn the art of getting better results with Google Adwords in this illuminating course. </h3>
      <p> You’ll have an opportunity to learn to create text ads that appeal and speak directly to those people who will not just look but click on them and encourage people to learn about your business, services or products. </p>
      <p> We’ll also run through setting up an ad, choosing the right audience and keywords and crafting the right messages as well as how to best structure your ad campaigns and monitor how many people are actually contacting you as a result. </p>
      <p> If you’re ready to explore the power of Google Adwords advertising don’t miss this opportunity to advance your website traffic and coax direct action. </p>
      <h3> This course will cover: </h3>
      <p>
        <ul>
          <li> account set up and overview/structure </li>
          <li> recommended settings for text ads campaign set up: type, location, budget options etc </li>
          <li> structuring campaigns, ad groups, ads and keywords </li>
          <li> selecting and managing keywords </li>
          <li> keyword match types and negative keywords </li>
          <li> writing effective Google Adwords text ads </li>
          <li> using ad extensions effectively </li>
          <li> phone call tracking </li>
          <li> setting up or importing basic conversions </li>
          <li> activating, pausing and editing your campaign and ads. </li>
        </ul>
      </p>
      <h3> Course objectives: </h3>
      <p>
        <ul>
          <li> to develop an understanding of the key components of Google Adwords text campaigns, and how to use them effectively </li>
          <li> to develop the skills and confidence to set up and launch a Google Adwords text campaign </li>
        </ul>
      </p>
      <h3> This course is for: </h3>
      <p>
        <ul>
          <li> business owners, marketers and managers </li>
          <li> marketing professionals </li>
          <li> agency account and digital marketing managers </li>
          <li> freelancers and consultants </li>
          <li> anyone who wants to understand how to best use Google Adwords text ads. </li>
        </ul>
      </p>
      <h3> What’s included: </h3>
      <p>
        <ul>
          <li>light refreshments</li>
          <li>modern computer training room</li>
          <li>individual computers (PC) and the necessary internet access and software</li>
          <li>full set of training resources</li>
          <li>high quality training</li>
        </ul>
      </p>
      <h3> Prerequisites: </h3>
      <p>
        <ul>
          <li> an existing Google Adwords account (not Adwords Express) is preferred (either with previous campaigns or not) </li>
          <li> we are able to assist with setting one up prior (you will be asked during the registration process). A Google account is required (email/password access) </li>
          <li> an existing Google Adwords account is not essential though, as this course can also be taken theoretically by those who are eager to understand the best practices for Google Adwords for future use </li>
        </ul>
      </p>
      <p> Each session is restricted to limited participants (six to twenty attendees), so you have the opportunity to fully benefit from the trainer’s knowledge and advice. </p>

      <a class="button-inverted" href="#" target="_blank"> Make your ads work for you. Enrol now. </a>

<div>
{% include course-price-discount.html %}
</div>

  <p class="margin-top">Add EventBrite widget here.</p>

  <hr> </hr>

  <div class="background-grey">
      {% include profile-erica.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Course details: </h3>
      <img src="/images/google-adwords-setup.jpg" />
      <h5> Introduction to Google Adwords </h5>
      <p> In this illuminating course you’ll learn to create appealing Google Adwords text ads that encourage more traffic to your website or business. </p>
      <p> <strong> Duration: </strong> Half day (morning) </p>
      <p> <strong> Date: </strong>Thursday 22 February 2018 </p>
      <p> <strong> Time: </strong> 9am - 1pm (4 hours) </p>
      <p> <strong> Location: </strong> The IVC, 19 Young Street, Adelaide, South Australia </p>
      {% include course-price.html %}
      <p> <em> Discount available when booked with other courses </em> </p>
      <a class="button-inverted" href="#" target="_blank"> Join Now </a>
    </div>

  <div>
    {% include venue-summary.html %}
  </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related courses: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-adwords-analysis.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-advertising.html %}
    </div>

  </div>

</section>
