---
layout: default
title: Ecommerce Google Analytics - Training Course in Adelaide
title-header: Ecommerce Google Analytics
meta-description: Run an online store or ecommerce site? Then this workshop is for you. Discover how you can improve your site's performance by delving into its analytics.
featured-image_path: /images/ecommerce-google-analytics-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h2>Course overview:</h2>
      <h3> It’s time to take the guesswork out! </h3>
      <p> By understanding trends and your customer data, you’ll be able to reduce marketing costs and time spent on the backend of your online store and make sure you’re speaking to the right people, all the time. Imagine being able to work out exactly where all of your biggest spending customers come from? </p>
      <p> The insights from Google Analytics that can be garnered are boundless and fruitful and can be navigated with ease, once you know your way around. </p>
      <p> This respected course will offer a comprehensive understanding of how Google Analytics can be used for websites with online stores and you’ll develop the confidence to create relevant sales segments plus you’ll get an introductory insight into Google Tag Manager for ecommerce websites. </p>
      <h3> This course will cover: </h3>
      <p>
        <ul>
          <li> introduction to Google Analytics for ecommerce </li>
          <li> setting up the specifics for an ecommerce store </li>
          <li> the enhanced ecommerce settings and how to fully utilise them </li>
          <li> segmenting users into useful categories and behaviours (such as abandoned carts, purchasers etc) </li>
          <li> using segmentation analysis to find your best opportunities and increase your conversion rate. </li>
        </ul>
      </p>
      <p> <strong> Please note:</strong> While this course is designed to be an interactive course where you can review and analyse your existing ecommerce analytics, it is also incredibly valuable for people who are considering starting or purchasing an online store, and want to be prepared by understanding how and what they can track. </p>
      <h3> Course objectives: </h3>
      <p>
        <ul>
          <li> to provide a comprehensive understanding of how Google Analytics can be used for websites with online stores </li>
          <li> to develop the skills and confidence to create relevant sales segments </li>
          <li> to offer an introduction to the capabilities of Google Tag Manager for ecommerce websites. </li>
        </ul>
      </p>
      <h3> This course is for: </h3>
      <p>
        <ul>
          <li> business owners and webmasters who manage an ecommerce website </li>
          <li> marketers and account managers who manage an ecommerce website </li>
          <li> website developers who work with ecommerce websites </li>
          <li> people who are considering starting or purchasing an ecommerce website. </li>
        </ul>
      </p>
      <h3> What’s included: </h3>
      <p>
        <ul>
          <li>light refreshments</li>
          <li>full set of training resources</li>
          <li>high quality training</li>
        </ul>
      </p>
      <h3> Prerequisites: </h3>
      <p>
        <ul>
          <li> a basic understanding of how to use and interpret Google Analytics’ default reports (covered in our <a href="/google-analytics-intro">Introduction to Google Analytics</a> course) </li>
          <li> a comprehensive understanding of the capabilities of Google Analytics, especially regarding the use of conversion tracking, events and segmentation (covered in our <a href="/google-analytics-further">Taking Google Analytics Further</a> course). </li>
        </ul>
      </p>
      <p> <strong> Please note: </strong>You are required to bring your own laptop. </p>
      <p> Each session is restricted to limited participants (six to ten attendees), so you have the opportunity to fully benefit from the trainer’s knowledge and advice. </p>
      <a class="button-inverted" href="https://www.trybooking.com/book/event?embed&eid=394950" target="_blank"> Boost your ecommerce sales. Book here. </a>

<div>
{% include course-price-discount.html %}
</div>

  <div class="background-grey">
      {% include profile-petra.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Course details: </h3>
      <img src="/images/ecommerce-google-analytics.jpg" />
      <h5> eCommerce Google Analytics </h5>
      <p> If you run an onlines store this is the ultimate analytics course for you. This course will help you to make informed and clear decisions quickly that fast track you to getting the results you want and set you on a path of improved performance. </p>
      <p> <strong> Duration: </strong> Half day (morning) </p>
      <p> <strong> Date: </strong>Thursday 11 October 2018 </p>
      <p> <strong> Time: </strong> 8:30am - 1pm (4.5 hours) </p>
      <p> <strong> Location: </strong> Intersect, 167 Flinders Street, Adelaide, South Australia </p>
      {% include course-price.html %}
      <p> <em> Discount available when booked with other sessions </em> </p>
      <a class="button-inverted" href="https://www.trybooking.com/book/event?embed&eid=394950" target="_blank"> Join Now </a>
    </div>

  <div>
    {% include venue-summary.html %}
  </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related courses: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-ga-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-ga-further.html %}
    </div>

  </div>

</section>
