---
layout: default
title: Taking Google Tag Manager Further - Training Course in Adelaide
title-header: Taking Google Tag Manager Further
meta-description: Discover more valuable Google Tag Manager insights with this advanced course that will help you develop skills to really benefit your business or website.
featured-image_path: /images/google-tag-manager-further-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h2>Course Overview:</h2>
      <h3> To gain a comprehensive understanding of the capabilities of Google Tag Manager and build the skills to set up and manage tags, triggers and variables, enroll in our Taking Google Tag Manager Further course. </h3>
      <p> Discover what you can really accomplish with Google Tag Manager and the direct benefits for your business. </p>
      <p> Led by an experienced and sought after web analytics professional, you’ll be guided in putting all your acquired knowledge together so you can actually go back to your workplace and put it in action. </p>
      <h3> This course will cover: </h3>
      <p>
        <ul>
          <li> how to isolate a particular element uniquely </li>
          <li> trigger settings </li>
          <li> using variables to define triggers so that the trigger only executes at the right time </li>
          <li> creating automatic and user defined variables and tags </li>
          <li> genuinely understanding the data layer. </li>
        </ul>
      </p>
      <h3> Course objectives: </h3>
      <p>
        <ul>
          <li> to develop a comprehensive understanding of the capabilities of Google Tag Manager </li>
          <li> to develop the confidence and skills to set up and manage tags, triggers and variables </li>
        </ul>
      </p>
      <h3> This course is for: </h3>
      <p>
        <ul>
          <li> business owners, webmasters, marketers, account managers, website developers and anyone else who wants to understand how to extend their website tracking capabilities using Google Tag Manager  </li>
        </ul>
      </p>
      <h3> What’s included: </h3>
      <p>
        <ul>
          <li>light refreshments</li>
          <li>modern computer training room</li>
          <li>individual computers (PC) and the necessary internet access and software</li>
          <li>full set of training resources</li>
          <li>high quality training</li>
        </ul>
      </p>
      <h3> Prerequisites: </h3>
      <p>
        <ul>
          <li> an active website or blog </li>
          <li> a basic understanding of the capabilities of Google Tag Manager (covered in our <a href="google-tag-manager-intro">Introduction to Google Tag Manager</a> course). </li>
        </ul>
      </p>
      <p> Each session is restricted to limited participants (six to twenty attendees), so you have the opportunity to fully benefit from the trainer’s knowledge and advice. </p>
      <a class="button-inverted" href="#" target="_blank"> Secure your place now. </a>

<div>
{% include course-price-discount.html %}
</div>

  <p class="margin-top">Add EventBrite widget here.</p>

  <hr> </hr>

  <div class="background-grey">
      {% include profile-petra.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Course details: </h3>
      <img src="/images/google-tag-manager-further.jpg" />
      <h5> Taking Google Tag Manager further </h5>
      <p> Get even more insight into Google Tag Manager with this advanced course that will highlight even more capabilities and features that will directly benefit your business or organisation. </p>
      <p> <strong> Duration: </strong> Half day (morning) </p>
      <p> <strong> Date: </strong>Thursday 31 May 2018 </p>
      <p> <strong> Time: </strong> 9am - 1pm (4 hours) </p>
      <p> <strong> Location: </strong> The IVC, 19 Young Street, Adelaide, South Australia </p>
      {% include course-price.html %}
      <p> <em> Discount available when booked with other courses </em> </p>
      <a class="button-inverted" href="#" target="_blank"> Join Now </a>
    </div>

  <div>
    {% include venue-summary.html %}
  </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related courses: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-gtm-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-ga-gtm-remarketing.html %}
    </div>

  </div>

</section>
