---
layout: default
title: Introduction to Google Ads (Search Campaigns) - Training Course in Adelaide
title-header: Introduction to Google Ads (Search Campaigns)
meta-description: In this handy and enlightening workshop, you’ll learn to create effective Google Ads (formerly Google Ads) that encourage more traffic to your website or business.
featured-image_path: /images/google-Ads-setup-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h2>Workshop overview:</h2>
      <h3> Learn the art of getting better results with Google Ads (formerly Google Ads) in this illuminating workshop. </h3>
      <p> You’ll have an opportunity to learn to create text ads that appeal and speak directly to those people who will not just look but click on them and encourage people to learn about your business, services or products. </p>
      <p> We’ll also run through setting up an ad, choosing the right audience and keywords and crafting the right messages as well as how to best structure your ad campaigns and monitor how many people are actually contacting you as a result. </p>
      <p> If you’re ready to explore the power of Google Ads advertising don’t miss this opportunity to advance your website traffic and coax direct action. </p>
      <h3> This workshop will cover: </h3>
      <p>
        <ul>
          <li> account set up and overview/structure </li>
          <li> recommended settings for text ads campaign set up: type, location, budget options etc </li>
          <li> structuring campaigns, ad groups, ads and keywords </li>
          <li> selecting and managing keywords </li>
          <li> keyword match types and negative keywords </li>
          <li> writing effective Google Ads text ads </li>
          <li> using ad extensions effectively </li>
          <li> phone call tracking </li>
          <li> setting up or importing basic conversions </li>
          <li> activating, pausing and editing your campaign and ads. </li>
        </ul>
      </p>
      <h3> Workshop objectives: </h3>
      <p>
        <ul>
          <li> to develop an understanding of the key components of Google Ads text campaigns, and how to use them effectively </li>
          <li> to develop the skills and confidence to set up and launch a Google Ads text campaign </li>
        </ul>
      </p>
      <h3> This workshop is for: </h3>
      <p>
        <ul>
          <li> business owners, marketers and managers </li>
          <li> marketing professionals </li>
          <li> agency account and digital marketing managers </li>
          <li> freelancers and consultants </li>
          <li> anyone who wants to understand how to best use Google Ads text ads. </li>
        </ul>
      </p>
      <h3> What’s included: </h3>
      <p>
        <ul>
          <li>light refreshments</li>
          <li>lunch</li>
          <li>full set of training resources</li>
          <li>high quality training</li>
        </ul>
      </p>
      <h3> Prerequisites: </h3>
      <p>
        <ul>
          <li> an existing Google Ads account (not Express) is preferred (either with previous campaigns or not) </li>
          <li> we are able to assist with setting one up prior (you will be asked during the registration process). A Google account is required (email/password access) </li>
          <li> an existing Google Ads account is not essential though, as this course can also be taken theoretically by those who are eager to understand the best practices for Google Ads for future use </li>
        </ul>
      </p>
      <p> <strong> Please note: </strong> You will need to bring your own laptop. </p>
      <p> Each session is restricted to limited participants (six to ten attendees), so you have the opportunity to fully benefit from the trainer’s knowledge and advice. </p>

      <a class="button-inverted" href="https://www.trybooking.com/book/event?embed&eid=393482" target="_blank"> Make your ads work for you. Enrol now. </a>

<div>
{% include course-price-discount.html %}
</div>

  <div class="background-grey">
      {% include profile-erica.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Workshop details: </h3>
      <img src="/images/google-Ads-setup.jpg" />
      <h5> Introduction to Google Ads (Search Campaigns) </h5>
      <p> In this illuminating workshop you’ll learn to create appealing Google Ads text ads that encourage more traffic to your website or business. </p>
      <p> <strong> Duration: </strong> Full day (at half day price) </p>
      <p> <strong> Date: </strong>Thursday 1 November 2018 </p>
      <p> <strong> Time: </strong> 9am - 4:30pm (7.5 hours) </p>
      <p> <strong> Location: </strong> Intersect, 167 Flinders Street, Adelaide, South Australia </p>
      {% include course-price.html %}
      <p> <em> Discount available when booked with other sessions </em> </p>
      <a class="button-inverted" href="https://www.trybooking.com/book/event?embed&eid=393482" target="_blank"> Join Now </a>
    </div>

  <div>
    {% include venue-summary.html %}
  </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related workshops: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-Ads-optimisation.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-advertising.html %}
    </div>

  </div>

</section>
