---
layout: homepage
title: Scout Digital Training - Digital Marketing Training Courses and Workshops in Adelaide
meta-description: Practical and effective Social Media Marketing, Google Adwords, Google Analytics, Email Marketing and SEO training courses and workshops for those who want to do their best online…
featured-image_path: /images/scout-digital-trainers-July-2018.jpg
---

  <!-- FIRST BANNER SECTION ---->
  <section id="intro-banner" class="banner featured centered grid-middle">
    <div class="col">
      <h1 class="text-shadow"> Be prepared <br class="mob-hide"> to do your best online… </h1>
    </div>
  </section>

  <!-- <section>
    {% include homepage-slider.html %}
  </section> -->

<!-- SECOND COURSE SUMMARY SECTION ---->
  <section class="centered">
    <h2> Digital Marketing and Analytics Training Courses and Workshops in Adelaide </h2>
    <div class="grid no-padding centered">

      <div class="col-4_sm-12 grid-equalHeight">
        {% include course-category-social-media.html %}
      </div>

      <div class="col-4_sm-12 grid-equalHeight">
        {% include course-category-google-adwords.html %}
      </div>

      <div class="col-4_sm-12 grid-equalHeight">
        {% include course-category-google-analytics.html %}
      </div>

      <div class="col-4_sm-12 grid-equalHeight">
        {% include course-category-seo.html %}
      </div>

      <div class="col-4_sm-12 grid-equalHeight">
        {% include course-category-email-marketing.html %}
      </div>


    </div> <!-- end of grid -->
  </section>

<!-- THIRD ALL COURSES SECTION ---->
  <section class="featured centered">
    <h2> Course Calendar </h2>
    <p> View dates of upcoming digital training courses and workshops. </p>
    <a class="button-inverted" href="/course-calendar"> View All Course and Workshop Dates </a>
  </section>

<!-- adding some notes here about the calendar -->

<!-- FOURTH SECTION: Testimonial and About ---->

<section class="grid no-padding">

  <div class="no-padding col-6_sm-12">
    <div class="owl-carousel owl-theme">
      <div class="item">
        {% include testimonial-raa-travel.html %}
      </div>
      <div class="item">
        {% include testimonial-junction-australia.html %}
      </div>
      <div class="item">
        {% include testimonial-tina-may.html %}
      </div>
      <div class="item">
        {% include testimonial-prakky.html %}
      </div>
    </div>
  </div>

  <div class="no-padding col-6_sm-12 background-grey">
    {% include our-trainers-summary.html %}
  </div>

</section>

<!-- SIXTH SUBSCRIBE SECTION ---->
  <section class="featured centered">
    <div class="_form_1"></div><script src="https://scoutdigitalmarketing.activehosted.com/f/embed.php?id=1" type="text/javascript" charset="utf-8"></script>

    <!-- <p> Enter your details here for course details, updates, analytics information, tips and resources. We don't spam. </p>
    <form class="grid-center" action="https://formspree.io/erica@scoutdm.com.au"
        method="POST">
        <div class="col-4_sm-12">
          <input type="text" name="name" placeholder="Your Name">
          <input type="email" name="_replyto" placeholder="Your Email">
          <input type="submit" value="Send" class="button-inverted">
        </div>
    </form> -->
  </section>
