---
layout: default
title: Instagram Masterclass - Training Workshop in Adelaide
title-header: Instagram Masterclass
meta-description: Instagram is growing exponentially as not only a popular social media platform, but an effective place to market businesses and organisations. Help your profile stand out.
featured-image_path: /images/instagram-masterclass-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h2>Workshop overview:</h2>
      <h3> Instagram is growing exponentially as not only a popular social media platform, but an effective place to market businesses and organisations. </h3>
      <p> This workshop will explain all of the options available for making best use of your Instagram account to reach and engage your audience. </p>
      <h3> This workshop will cover: </h3>
      <p>
        <ul>
          <li> setting up an Instagram account </li>
          <li> personal versus Business Instagram accounts </li>
          <li> reviewing how to create and publish Instagram content </li>
          <li> reviewing Instagram Stories </li>
          <li> creating content on the go for Instagram </li>
          <li> photography tips </li>
          <li> reporting using Instagram Insights. </li>
        </ul>
      </p>
      <h3> Workshop objectives: </h3>
      <p>
        <ul>
          <li> to understand the best practices for managing an Instagram account for an organization or business </li>
          <li> to understand the various options available for managing, sharing content and engaging with your audience using Instagram </li>
          <li> to develop the confidence and skills to competently manage an Instagram business account. </li>
        </ul>
      </p>
      <h3> This workshop is for: </h3>
      <p>
        <ul>
          <li> business owner/operators responsible for managing their Instagram account </li>
          <li> administration or marketing staff responsible for managing an organisation’s Instagram account </li>
          <li> marketers who want to understand best practices for managing an Instagram business account. </li>
        </ul>
      </p>
      <h3> What’s included: </h3>
      <p>
        <ul>
          <li>light refreshments</li>
          <li>full set of training resources</li>
          <li>high quality training</li>
        </ul>
      </p>
      <h3> Prerequisites: </h3>
      <p>Either:</p>
      <p>
        <ul>
          <li> a new Instagram account (or one that hasn’t been used for some time), or </li>
          <li> plans to set up a new Instagram account </li>
        </ul>
      </p>
      <p> and a smartphone. </p>
      <p> <strong> Please note: </strong>You are required to bring your own laptop. </p>
      <p> Each session is restricted to limited participants (six to ten attendees), so you have the opportunity to fully benefit from the trainer’s knowledge and advice. </p>

      <a class="button-inverted" href="#" target="_blank"> Get set to improve your Instagram game! </a>

<div>
{% include course-price-discount.html %}
</div>

  <div class="background-grey">
      {% include profile-jen.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Workshop details: </h3>
      <img src="/images/instagram-masterclass.jpg" />
      <h5> Instagram masterclass </h5>
      <p> Instagram is growing exponentially as not only a popular social media platform, but an effective place to market businesses and organisations. Help your profile stand out. </p>
      <p> <strong> Duration: </strong> 4.5 hours (morning) </p>
      <p> <strong> Date: </strong> Tuesday 7 August 2018, Tuesday 16 October 2018 </p>
      <p> <strong> Time: </strong> 8:30am - 1pm (4.5 hours) </p>
      <p> <strong> Location: </strong> Intersect, 167 Flinders Street, Adelaide, South Australia </p>
      {% include course-price.html %}
      <p> <em> Discount available when booked with other sessions </em> </p>
      <a class="button-inverted" href="#" target="_blank"> Join Now </a>
    </div>

  <div>
    {% include venue-summary.html %}
  </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related workshops: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-strategy.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-content.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-analytics.html %}
    </div>

  </div>

</section>
