---
layout: default
title: Our Trainers - Scout Digital Training
title-header: Our Trainers
meta-description: At Scout Digital Training, we pride ourselves on sourcing the best local practising experts on the topics we offer you in our popular workshops.
featured-image_path: /images/scout-digital-trainers-July-2018.jpg
---

<section class="grid">

  <section class="col-9_md-12">

    <section>
      <div class="grid">
        <div class="col-7_md-6_sm-12 no-padding">
          <h2> About your trainers: </h2>
          <h3>At Scout Digital Training, we pride ourselves on sourcing the best local practising experts on the topics we offer you in our popular workshops. </h3>
          <p> You’ll find each trainer experienced, knowledgeable and, best of all, friendly and enthusiastic. </p>
          <p> Discover more about your trainers here. </p>
        </div>
        <div class="col-5_md-6_sm-12-middle">
          <img src="/images/Scout-trainers-July-2018.jpg" alt="digital trainers adelaide" class="large-portrait-circle">
        </div>
      </div>
    </section>

    <hr> </hr>

    <section>
      {% include profile-erica.html %}
    </section>

    <hr> </hr>

    <section>
      {% include profile-jen.html %}
    </section>

    <hr> </hr>

    <section>
      {% include profile-fiona.html %}
    </section>

  </section>

<!-- right hand side column, currently empty -->
  <section class="col-3_md-12">
    <!-- <div style="width:195px; text-align:center;" ><iframe  src="https://www.eventbrite.com/calendar-widget?eid=32576876314" frameborder="0" height="567" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:195px; text-align:center;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/">Powered by Eventbrite</a></div></div> -->
    <section>
      {% include rhs-column-page.html %}
    </section>
  </section>

</section>
