---
layout: default
title: Leveraging Remarketing with Google Analytics and Google Tag Manager - Training Course in Adelaide
title-header: Leveraging Remarketing with Google Analytics and Google Tag Manager
meta-description: Learn practical skills and knowledge to take advantage and heighten your website's remarketing in this leading Adelaide workshop.
featured-image_path: /images/remarketing-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h2>Course Overview:</h2>
      <h3> Remarketing is the invaluable technique of targeting advertisements and content at previous visitors of your website, ie to people that you’re already on the radar of! </h3>
      <p> As a highly effective tactic, remarketing sees conversion rates increasing and encourages people to click through who are more likely to commit to purchase. Plus, it enriches your online brand! </p>
      <p> You’ll learn practical skills and advice for how and when to use remarketing advertising across major digital platforms such as Facebook, Google Adwords and Google Display Network. </p>
      <p> Discover how to get higher quality traffic that ends up as real results and drive more purchases. Plus, capture and talk directly to a specific audience of people who interacted with a particular product or service on your website. </p>
      <h3> This course will cover: </h3>
      <p>
        <ul>
          <li> the value and benefits of remarketing </li>
          <li> where you can effectively use remarketing, including: Facebook, Google Display Network,  Google Adwords </li>
          <li> how you can easily use remarketing </li>
          <li> capturing data about your audiences from Facebook Pixel and Google Analytics. </li>
        </ul>
      </p>
      <h3> Course objectives: </h3>
      <p>
        <ul>
          <li> to provide practical skills and advice for how and when to use remarketing advertising across major digital platforms: Facebook, Google Adwords and Google Display Network. </li>
        </ul>
      </p>
      <h3> This course is for: </h3>
      <p>
        <ul>
          <li> business owners and webmasters who manage a website </li>
          <li> marketers and account managers who manage a website </li>
          <li> website developers. </li>
        </ul>
      </p>
      <h3> What’s included: </h3>
      <p>
        <ul>
          <li>light refreshments</li>
          <li>modern computer training room</li>
          <li>individual computers (PC) and the necessary internet access and software</li>
          <li>full set of training resources</li>
          <li>high quality training</li>
        </ul>
      </p>
      <h3> Prerequisites: </h3>
      <p>
        <ul>
          <li> an active website (with or without an online store), with Google Analytics tracking installed, and ideally one month’s worth of data </li>
          <li> if you require assistance with checking whether your website and Google Analytics is set up correctly, you can request a review from us during the online registration process </li>
          <li> a comprehensive understanding of the capabilities of Google Analytics, especially regarding conversion tracking (covered in our <a href="/google-analytics-further">Taking Google Analytics Further</a> course) </li>
          <li> a comprehensive understanding of Google Tag Manager (covered in our <a href="/google-tag-manager-intro">Introduction to Google Tag Manager</a> course). </li>
        </ul>
      </p>
      <p> Each session is restricted to limited participants (six to twenty attendees), so you have the opportunity to fully benefit from the trainer’s knowledge and advice. </p>
      <a class="button-inverted" href="#" target="_blank"> Learn to capitalise on your remarketing. Book your seat here. </a>

<div>
{% include course-price-discount.html %}
</div>

  <p class="margin-top">Add EventBrite widget here.</p>

  <hr> </hr>

  <div class="background-grey">
      {% include profile-petra.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Course details: </h3>
      <img src="/images/remarketing.jpg" />
      <h5> Leveraging remarketing with Google tools </h5>
      <p> This course is ideal for any business that wants to generate more sales in a short time frame by using some of Google’s best services and tools to benefit from remarketing. You’ll also learn how to make your marketing budget work by connecting with consumers that are already familiar with your brand and offerings and persuade them over the line. </p>
      <p> <strong> Duration: </strong> Half day (morning) </p>
      <p> <strong> Date: </strong>Thursday 14 June 2018 </p>
      <p> <strong> Time: </strong> 9am - 1pm (4 hours) </p>
      <p> <strong> Location: </strong> The IVC, 19 Young Street, Adelaide, South Australia </p>
      {% include course-price.html %}
      <p> <em> Discount available when booked with other courses </em> </p>
      <a class="button-inverted" href="#" target="_blank"> Join Now </a>
    </div>

  <div>
    {% include venue-summary.html %}
  </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related courses: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-ga-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-gtm-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-ga-further.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-gtm-further.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-ga-ecommerce.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-ga-cro.html %}
    </div>

  </div>

</section>
