---
layout: default
title: Introduction to SEO Best Practices - Training Course in Adelaide
title-header: Introduction to SEO Best Practices
meta-description: This half-day course clearly explains what Search Engine Optimisation is, how search engines work, and what you can do to improve website rankings.
featured-image_path: /images/intro-to-seo-fb-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h2>Course Overview:</h2>
      <h3> Are you confused and overwhelmed by how search engines rank websites? </h3>
      <p> With an excessive amount of information available, you’re not alone in being unsure where to start or what exactly to do for your business. Power up your site’s SEO and get consistently better search results in Google with this specialist training session. </p>
      <p> A trusted course, Introduction to SEO Best Practices will demystify what search engines are and how they work. It will also explain the main content factors that influence how your website is seen and ranked and what you can do to encourage positive results in search engines. </p>
      <div class="video-container"><iframe class="video-proportion" src="https://www.youtube.com/embed/QEtiB2oVQbU?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe></div>
      <h3 class="margin-top"> This course will cover: </h3>
      <p>
        <ul>
          <li>difference between SEO and SEM</li>
          <li>how search engines work and how they rank websites and content</li>
          <li>SEO best practices</li>
          <li>how to find relevant keywords and use them</li>
          <li>writing great meta descriptions that will not only please Google but entice people to your site</li>
          <li>effectively formatting your page – headings/heading tags, structure, content, links, images</li>
          <li>an introduction to Google Search Console including account settings, verifying your property, submitting an XML sitemap, fetch as Google</li>
        </ul>
      </p>
      <p> Join this professional training to learn how to create a high quality site that Google loves through genuinely great content and a spot of technical knowledge. </p>
      <p><strong>Please note: </strong> This course has a strong focus on on-site SEO.</p>
      <h3> Course objectives: </h3>
      <p>
        <ul>
          <li> to develop a basic understanding of the fundamentals of search engine optimisation </li>
          <li> to develop the skills and confidence to perform essential search engine optimisation techniques on your website or blog </li>
        </ul>
      </p>
      <h3> This course is for: </h3>
      <p>
        <ul>
          <li> those who are responsible for managing your own or your business’s website or blog and want to understand how you can help effectively influence its results in search engines. </li>
        </ul>
      </p>
      <h3> What’s included: </h3>
      <p>
        <ul>
          <li>light refreshments</li>
          <li>modern computer training room</li>
          <li>individual computers (PC) and the necessary internet access and software</li>
          <li>full set of training resources</li>
          <li>high quality training</li>
        </ul>
      </p>
      <h3> Prerequisites: </h3>
      <p>
        <ul>
          <li> ideally an existing website or blog to use recommended techniques on, otherwise the course can be taken theoretically for a future website or blog venture </li>
          <li> a basic understanding of the internet and websites </li>
        </ul>
      </p>
      <p><strong>Please note:</strong> While this course is an introduction, it is dealing with a technical topic, and technical terms and techniques will be addressed.</p>
      <p> Each session is restricted to limited participants (generally six to twenty attendees), so you have the opportunity to fully benefit from the trainer’s knowledge and advice. </p>
      <a class="button-inverted" href="https://www.eventbrite.com/e/introduction-to-search-engine-optimisation-seo-tickets-32614699444" target="_blank"> Learn SEO by registering here </a>

<div>
{% include course-price-discount.html %}
</div>

  <div style="width:100%; text-align:left;"><iframe src="//eventbrite.com/tickets-external?eid=32614699444&ref=etckt" frameborder="0" height="308" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/">Powered by Eventbrite</a></div></div>

  <hr> </hr>

  <div>
    {% include testimonial-jones-writer.html %}
  </div>

  <div class="background-grey">
      {% include profile-erica.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Course details: </h3>
      <img src="/images/introduction-to-seo.jpg" />
      <h5> Introduction to SEO Best Practices </h5>
      <p> Learn authentic SEO tips and techniques to get real results and successfully rank your pages, driving clients and customers to your website. </p>
      <p> <strong> Duration: </strong> Half day (morning) </p>
      <p> <strong> Date: </strong>Thursday 24 May 2018 </p>
      <p> <strong> Time: </strong> 9am - 1pm (4 hours) </p>
      <p> <strong> Location: </strong> The IVC, 19 Young Street, Adelaide, South Australia </p>
      {% include course-price.html %}
      <p> <em> Discount available when booked with other courses </em> </p>
      <a class="button-inverted" href="https://www.eventbrite.com/e/introduction-to-search-engine-optimisation-seo-tickets-32614699444" target="_blank"> Join Now </a>
    </div>

  <div>
    {% include venue-summary.html %}
  </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related courses: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-seo-further.html %}
    </div>

  </div>

</section>
