---
layout: default
title: Further Search Engine Optimisation (SEO) Techniques - Training Course in Adelaide
title-header: Further Search Engine Optimisation (SEO) techniques
meta-description: Go beyond basic search engine optimisation and learn the technical SEO aspects to make your website successfully discoverable and easy to find on Google.
featured-image_path: /images/seo-further-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h2>Course Overview:</h2>
      <h3> So, you’ve got the basics of SEO sorted but you’re enthusiastic to take your practice to the next level. </h3>
      <p> This course is a robust session in delving into the intricacies of search engine optimisation and will teach you even more best practices and techniques to boost your site’s ranking, making you much more discoverable and “Google-able”. </p>
      <p> With more advanced methods and learning, coupled with the more technical aspects of optimising your site for searchability, this course is bound to set you apart from your competition or other websites. </p>
      <h3> This course will cover: </h3>
      <p>
        <ul>
          <li> the impact of site speed on SEO </li>
          <li> the importance of clean, semantic code </li>
          <li> introducing schema.org, rich snippets and featured snippets </li>
          <li> securing your site with https </li>
          <li> using robots.txt </li>
          <li> effective backlinking strategies </li>
          <li> another look at Google Webmaster Tools </li>
          <li> local search optimisation </li>
          <li> mobile search optimisation. </li>
        </ul>
      </p>
      <h3> Course objectives: </h3>
      <p>
        <ul>
          <li> to further develop an understanding of the more advanced techniques involved in search engine optimisation </li>
          <li> to develop the skills and confidence to perform more advanced search engine optimisation techniques on your website or blog </li>
        </ul>
      </p>
      <h3> This course is for: </h3>
      <p>
        <ul>
          <li> those responsible for managing your own or your business’s website or blog and want to understand how you can help effectively influence its results in search engines </li>
          <li> past participants of our <a href="/seo-intro">Introduction to SEO Best Practices</a> course, who want to further enhance their SEO abilities </li>
        </ul>
      </p>
      <h3> What’s included: </h3>
      <p>
        <ul>
          <li>light refreshments</li>
          <li>modern computer training room</li>
          <li>individual computers (PC) and the necessary internet access and software</li>
          <li>full set of training resources</li>
          <li>high quality training</li>
        </ul>
      </p>
      <h3> Prerequisites: </h3>
      <p>
        <ul>
          <li> ideally, an existing website or blog to use recommended techniques on, otherwise the course can be taken theoretically for a future website or blog venture </li>
          <li> a solid understanding of the fundamentals of SEO, covering content based SEO techniques (as covered in our <a href="/seo-intro">Introduction to SEO Best Practices</a> course) </li>
        </ul>
      </p>
      <p> Each session is restricted to limited participants (six to twenty attendees), so you have the opportunity to fully benefit from the trainer’s knowledge and advice. </p>
      <a class="button-inverted" href="https://www.eventbrite.com/e/further-search-engine-optimisation-seo-techniques-tickets-42187438765" target="_blank"> Take your SEO to the next level. Book now. </a>

<div>
{% include course-price-discount.html %}
</div>

  <hr></hr>

  <div>
    {% include testimonial-jones-writer.html %}
  </div>

  <div class="background-grey">
      {% include profile-erica.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Course details: </h3>
      <img src="/images/seo-further.jpg" />
      <h5> Further Search Engine Optimisation (SEO) techniques </h5>
      <p> This more advanced SEO course goes beyond basic site optimisation and delves into the more technical aspects to make your website successfully discoverable. If it’s true visibility you’re after, be sure to register your place. </p>
      <p> <strong> Duration: </strong> Half day (morning) </p>
      <p> <strong> Date: </strong>Thursday 7 June 2018 </p>
      <p> <strong> Time: </strong> 9am - 1pm (4 hours) </p>
      <p> <strong> Location: </strong> The IVC, 19 Young Street, Adelaide, South Australia </p>
      {% include course-price.html %}
      <p> <em> Discount available when booked with other courses </em> </p>
      <a class="button-inverted" href="https://www.eventbrite.com/e/further-search-engine-optimisation-seo-techniques-tickets-42187438765" target="_blank"> Join Now </a>
    </div>


  <div>
    {% include venue-summary.html %}
  </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related courses: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-seo-intro.html %}
    </div>

  </div>

</section>
