---
layout: default
title: Introduction to Social Media Marketing - Training Course in Adelaide
title-header: Introduction to Social Media Marketing
meta-description: A valuable beginner's course on social media marketing for business to teach you the best way to set up your social media accounts and learn best practices.
featured-image_path: /images/social-media-intro-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h2>Course Overview:</h2>
      <h3> This real world overview course, with the beginner in mind, is an introduction to the world of social media and best practice use for business and will set you on the right path to effective social media marketing. </h3>
      <p> It will succinctly provide an overview of how to make best use of social media platforms for businesses and organisations to meet your objectives and strategic goals. It will also take a comprehensive look at the major players in social (Facebook, Instagram, LinkedIn and Twitter) and how to best set up them up, optimise and begin to build an audience. </p>
      <p> Throughout the duration of the course, we will look at the key demographics and forecasted trends within the Australian social media landscape and how these affect your organisation’s social media presence. </p>
      <h3> This course will cover: </h3>
      <p>
        <ul>
          <li> Australian social media user numbers, insights and demographics </li>
          <li> social media channel and setting up best practices </li>
          <li> Instagram, Twitter, Facebook and LinkedIn newsfeeds </li>
          <li> understanding the Facebook algorithm </li>
          <li> how to publish content on these main social media channels </li>
          <li> how to genuinely build engagement </li>
          <li> community management fundamentals. </li>
        </ul>
      </p>
      <h3> Course objectives: </h3>
      <p>
        <ul>
          <li> to provide an overview of how to make best use of social media marketing for businesses and organisations </li>
          <li> to develop confidence in using social media effectively. </li>
        </ul>
      </p>
      <h3> This course is for: </h3>
      <p>
        <ul>
          <li> beginners with no assumed knowledge </li>
          <li> SME business owners and managers </li>
          <li> government departments </li>
          <li> marketing graduates wanting to gain practical knowledge and skills </li>
          <li> marketing coordinators with no social media experience </li>
          <li> marketing professionals wanting to gain current knowledge and skills. </li>
        </ul>
      </p>
      <h3> What’s included: </h3>
      <p>
        <ul>
          <li>light refreshments</li>
          <li>modern computer training room</li>
          <li>individual computers (PC) and the necessary internet access and software</li>
          <li>full set of training resources</li>
          <li>high quality training</li>
        </ul>
      </p>
      <h3> Prerequisites: </h3>
      <p>
        <ul>
          <li> None, although admin/editor access to existing business social media channels (i.e. Facebook Page, not personal profile) to work with is ideal (but not essential). </li>
        </ul>
      </p>
      <p> Each session is restricted to limited participants (six to twenty attendees), so you have the opportunity to fully benefit from the trainer’s knowledge and advice. </p>

      <a class="button-inverted" href="#" target="_blank"> Discover social media marketing today. </a>

<div>
{% include course-price-discount.html %}
</div>

  <p class="margin-top">**Add EventBrite widget here.**</p>

  <hr> </hr>

  <div class="background-grey">
      {% include profile-jen.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Course details: </h3>
      <img src="/images/social-media-intro.jpg" />
      <h5> Introduction to social media marketing </h5>
      <p> This introductory course will look at the best way to set up your social media accounts for your organisation as well as discovering the various features and benefits of each platform and the different types of content suitable for these channels. </p>
      <p> <strong> Duration: </strong> Half day (morning) </p>
      <p> <strong> Date: </strong> Thursday 15 February 2018 </p>
      <p> <strong> Time: </strong> 9am - 1pm (4 hours) </p>
      <p> <strong> Location: </strong> The IVC, 19 Young Street, Adelaide, South Australia </p>
      {% include course-price.html %}
      <p> <em> Discount available when booked with other courses </em> </p>
      <a class="button-inverted" href="#" target="_blank"> Join Now </a>
    </div>

  <div>
    {% include venue-summary.html %}
  </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related courses: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-strategy.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-content.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-advertising.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-analytics.html %}
    </div>

  </div>

</section>
