---
layout: default
title: Social Media Marketing Training Courses in Adelaide
title-header: Social Media Marketing Training Courses
meta-description:
featured-image_path: /images/
---

  <section class="width-80">

        <h4> Introduction sentence. </h4>
        <p> Short paragraph. </p>

  </section>

  <section class="grid-centered no-padding centred">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-strategy.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-content.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-advertising.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-analytics.html %}
    </div>

  </section>
