---
layout: default
title: Effective AND Efficient Social Media Reporting - Training Workshop in Adelaide
title-header: Effective AND Efficient Social Media Reporting
meta-description: Identify and measure meaningful data and insights from your social media channels and pinpoint your best return on investment.
featured-image_path: /images/social-media-analytics-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h2>Workshop overview:</h2>
      <h3> Not only do you need to provide relevant reporting to your employer, higher ups or board members to show the value of social media marketing and advertising, but reporting and analytics are the most compelling ways you can determine what works and what doesn’t and how to refine and improve your efforts quickly and painlessly. </h3>
      <p> We’ll guide you through the native analytics for the major social media channels, including Facebook, Instagram, Twitter and LinkedIn, whilst identifying meaningful results for your business and interpret the data available within your social media channels. </p>
      <p> By the end of the course you will have an understanding of how to measure the effectiveness of your activities and we’ll recommend key metrics to focus on for social media reports. </p>
      <p> We'll also talk about paid tools for social media measurement – focusing on those that will save you time – and provide you with some reporting templates. </p>
      <h3> This workshop will cover: </h3>
      <p>
        <ul>
          <li> the importance of social media analytics </li>
          <li> identifying relevant metrics </li>
          <li> recommended social media reporting tools – free vs paid </li>
          <li> native Facebook page insights </li>
          <li> native Instagram business analytics </li>
          <li> native Linkedin company page insights </li>
          <li> native Twitter analytics </li>
          <li> social media reporting template(s). </li>
        </ul>
      </p>
      <h3> Workshop objectives: </h3>
      <p>
        <ul>
          <li> to develop understanding of how to measure the effectiveness of social media marketing activities using available reporting tools </li>
          <li> to provide recommendations of key metrics to focus on for social media reports </li>
        </ul>
      </p>
      <h3> This workshop is for: </h3>
      <p>
        <ul>
          <li> social media and marketing managers </li>
          <li> digital content managers and creators </li>
          <li> SME business owners and managers </li>
          <li> government departments </li>
          <li> freelancers and consultants </li>
        </ul>
      </p>
      <h3> What’s included: </h3>
      <p>
        <ul>
          <li>light refreshments</li>
          <li>full set of training resources</li>
          <li>high quality training</li>
        </ul>
      </p>
      <h3> Prerequisites: </h3>
      <p>
        <ul>
          <li> access to business social media accounts (e.g. Facebook Page, LinkedIn company page, Instagram business accounts, Twitter account) </li>
          <li> an understanding of social media and its application in a business environment (this is covered in our <a href="/social-media-intro">Social Media for Business</a> workshop) </li>
        </ul>
      </p>
      <p> <strong> Please note: </strong> You are required to bring your own laptop. </p>
      <p> Each session is restricted to limited participants (six to eight attendees), so you have the opportunity to fully benefit from the trainer’s knowledge and advice. </p>
      <a class="button-inverted" href="https://www.trybooking.com/book/event?embed&eid=394958" target="_blank"> Arm yourself with analytics. Register your place now. </a>

<div>
{% include course-price-discount.html %}
</div>

  <div class="background-grey">
      {% include profile-jen.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Workshop details: </h3>
      <img src="/images/social-media-analytics.jpg" />
      <h5> Effective AND efficient social media reporting </h5>
      <p> Social media marketing brings with it a wealth of data and insights, but which metrics should you focus on and how will you find the time? This workshop will help you identify which analytics to focus on, and share time saving tools and techniques. </p>
      <p> <strong> Duration: </strong> Half day (morning) </p>
      <p> <strong> Date: </strong>Monday 17 September 2018 </p>
      <p> <strong> Time: </strong> 8:30am - 1pm (4.5 hours) </p>
      <p> <strong> Location: </strong> Intersect, 167 Flinders Street, Adelaide, South Australia </p>
      {% include course-price.html %}
      <p> <em> Discount available when booked with other sessions </em> </p>
      <a class="button-inverted" href="https://www.trybooking.com/book/event?embed&eid=394958" target="_blank"> Join Now </a>
    </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related workshops: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-consults.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-webinar-organisation.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-fb-ig-ads-individual.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-tw-li-ads.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-facebook.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-fb-bm.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-instagram.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-twitter.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-linkedin.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-strategy.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-content.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-fb-ig-ads-multiple.html %}
    </div>

  </div>

</section>
