---
layout: default
title: Social Media Consultations - Adelaide
title-header: Social Media Consultations
meta-description: Know you need some kind of social media training but not sure what kind, or where to start? Book a dedicated one-on-one session with social media scout, to review your situation and determine your needs.
featured-image_path: /images/social-media-consultations-jen-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h3> Social media marketing is evolving quickly, and it is hard to know what you need, or where to spend your energy.</h3>

      <p> In these limited sessions we are offering a unique opportunity for a one-on-one session with our social media scout, Jen Evison, to review your social media channels and situation. </p>

      <p> For 1.5 hours you can discuss your situation and requirements with Jen, and she will provide as much insight and support as she can, along with any recommendations for further tools or training. </p>

      <p> Bring along all log in details and any existing resources, and let one of Adelaide’s leading social media marketers help you. </p>

      <p> Further training sessions are not essential, however should you book a social media training workshop within 6 months of consultation, we will discount the full value of the consultation off the training price (must be redeemed by the same person). </p>

      <p> Don’t miss this opportunity for dedicated time with a skilled social media professional! </p>

      <a class="button-inverted" href="https://www.trybooking.com/book/event?embed&eid=395087" target="_blank"> Be prepared to do your best. Book your spot. </a>

  <div class="background-grey">
      {% include profile-jen.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Consultation details: </h3>
      <img src="/images/social-media-consultations-jen.jpg" />
      <h5> Social media consultations </h5>
      <p> Know you need some kind of social media training but not sure what kind, or where to start? Book a dedicated one-on-one session with social media scout, Jen, to review your situation and determine your needs. </p>
      <p> <strong> Duration: </strong> 1.5 hours </p>
      <p> <strong> Date: </strong> Thursday 5 July, Wednesday 11 July 2018 </p>
      <p> <strong> Times: </strong> Various times, limited places </p>
      <p> <strong> Location: </strong> Intersect, 167 Flinders Street, Adelaide, South Australia </p>
      <p> <strong> Cost: $150 + BF + GST </strong> </p>
      <a class="button-inverted" href="https://www.trybooking.com/book/event?embed&eid=395087" target="_blank"> Join Now </a>
    </div>

  <div>
    {% include venue-summary.html %}
  </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related workshops: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-webinar-organisation.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-fb-ig-ads-individual.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-tw-li-ads.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-facebook.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-fb-bm.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-instagram.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-twitter.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-linkedin.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-strategy.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-content.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-fb-ig-ads-multiple.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-analytics.html %}
    </div>

  </div>

</section>
