---
layout: default
title: Creating Engaging Social Media Content - Training Workshop in Adelaide
title-header: Creating Engaging Social Media Content
meta-description: A practical workshop on creating an effective social media content strategy and planning. The key to your marketing success is a great content strategy.
featured-image_path: /images/social-media-content-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h2>Workshop overview:</h2>
      <h3> The key to successful social media marketing is the quality and value of your content. </h3>
      <p> Without stellar content, you could be wasting time. Having a strategic approach to developing and publishing content will inevitably save time and help your message be consistent and therefore more effective. </p>
      <p> You’ll be provided with recommendations for and demonstrations of tools and processes to implement and assist with streamlining and scheduling social media content planning and publishing within your organisation. We'll also take a look at what the leaders in social media are doing so you can learn from best practices and implement directly back into your marketing department. </p>
      <p> The workshop will also help you pinpoint what works and what is time consuming with no benefits. No longer will you have to “fly blindly” when posting to your social media channels. </p>
      <h3> This workshop will cover: </h3>
      <p>
        <ul>
          <li> social media content strategy best practice </li>
          <li> social media content planning, creation and curation </li>
          <li> content scheduling for your social media channels </li>
          <li> social media campaigns, promotions and competitions. </li>
        </ul>
      </p>
      <h3> Workshop objectives: </h3>
      <p>
        <ul>
          <li> to provide recommendations of the various types of content that can be used effectively for social media marketing </li>
          <li> to develop a strategic approach to developing and publishing content </li>
          <li> to develop confidence and understanding of the tools and techniques that can be used to prepare and schedule social media content </li>
        </ul>
      </p>
      <h3> This workshop is for: </h3>
      <p>
        <ul>
          <li> social media and marketing managers </li>
          <li> digital content managers and creators </li>
          <li> SME business owners and managers </li>
          <li> government departments </li>
          <li> freelancers and consultants </li>
        </ul>
      </p>
      <h3> What’s included: </h3>
      <p>
        <ul>
          <li>light refreshments</li>
          <li>full set of training resources</li>
          <li>high quality training</li>
        </ul>
      </p>
      <h3> Prerequisites: </h3>
      <p>
        <ul>
          <li> please subscribe to the free versions of <a href="https://www.canva.com" target="_blank">Canva</a> and <a href="https://hootsuite.com" target="_blank">HootSuite</a> prior to the session </li>
          <li> please download the free Facebook Pages Manager app to your smartphone prior to the session (for publishing/scheduling content via your mobile device): </li>
            <li> <a href="https://itunes.apple.com/au/app/facebook-pages-manager/id514643583?mt=8" target="_blank"> Facebook Pages Manager app for iOS </a> </li>
            <li> <a href="https://play.google.com/store/apps/details?id=com.facebook.pages.app&hl=en" target="_blank"> Facebook Pages Manager app for Android </a> </li>
          <li> an understanding of social media and its application in a business environment (this is covered in our <a href="/social-media-intro">Mastering Social Media for Business</a> workshop) </li>
          <li> this workshop is an ideal follow on from our <a href="/social-media-strategy">Developing a Social Media Strategy</a> workshop, as it focuses on social media content, an essential part of an effective social media strategy. </li>
        </ul>
      </p>
      <p> <strong> Please note: </strong> You are required to bring your own laptop.</p>
      <p> Each session is restricted to limited participants (six to ten attendees), so you have the opportunity to fully benefit from the trainer’s knowledge and advice. </p>
      <a class="button-inverted" href="https://www.trybooking.com/book/event?embed&eid=393419" target="_blank"> Create clever content and more. See seat availability here. </a>

<div>
{% include course-price-discount.html %}
</div>

  <div class="background-grey">
      {% include profile-jen.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Workshop details: </h3>
      <img src="/images/social-media-content.jpg" />
      <h5> Creating engaging social media content </h5>
      <p> In this practical session, you’ll learn how to create social media content that is aligned with your business goals and objectives, and accurately reflects your services. Learn tips and tricks on how to develop socially optimised content and minimise labour intensive tasks. </p>
      <p> <strong> Duration: </strong> Half day (morning) </p>
      <p> <strong> Date: </strong> TBA August 2018, Tuesday 20 November </p>
      <p> <strong> Time: </strong> 8.30am - 1pm (4.5 hours) </p>
      <p> <strong> Location: </strong> Intersect, 167 Flinders Street, Adelaide, South Australia </p>
      {% include course-price.html %}
      <p> <em> Discount available when booked with other courses </em> </p>
      <a class="button-inverted" href="https://www.trybooking.com/book/event?embed&eid=393419" target="_blank"> Join Now </a>
    </div>

  <div>
    {% include venue-summary.html %}
  </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related workshops: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-consults.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-webinar-organisation.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-fb-ig-ads-individual.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-tw-li-ads.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-facebook.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-fb-bm.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-instagram.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-twitter.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-linkedin.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-strategy.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-fb-ig-ads-multiple.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-analytics.html %}
    </div>

  </div>

</section>
