---
layout: default
title: Developing a Social Media Strategy - Training Course in Adelaide
title-header: Developing a Social Media Strategy
meta-description: Learn how to write an in depth social media marketing strategy that will help achieve your business and marketing goals and objectives in 2018.
featured-image_path: /images/social-media-strategy-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h2>Workshop overview:</h2>
      <h3> Marketing is only as good as its strategy. Without a solid framework in place, you have no real direction or plan to keep you on track to effectively meet your goals. </h3>
      <p> A savvy and actionable strategy helps get your whole organisation on board and ensures everyone is heading in the right direction for the best possible outcomes. Being proactive and streamlining your process means that you operate far more efficiently and sets you apart from your competition. </p>
      <p> This valuable workshop will see you learn to create a workable social media strategy so that you can easily and effectively implement your marketing activities throughout the year. </p>
      <p> It’s also great for those looking to boost their marketing career and add more skills to their toolkit. </p>
      <h3> This workshop will cover: </h3>
      <p>
        <ul>
          <li> identifying business goals </li>
          <li> the importance of identifying target audiences </li>
          <li> discussing brand personality and how it impacts social media marketing </li>
          <li> evaluating your available resources </li>
          <li> developing engagement tactics </li>
          <li> determining suitable social media channels </li>
          <li> an introduction to content strategy </li>
          <li> an introduction to measuring success and reporting. </li>
        </ul>
      </p>
      <h3> Workshop objectives: </h3>
      <p>
        <ul>
          <li> to provide a framework for developing an effective social media strategy </li>
        </ul>
      </p>
      <h3> This workshop is for: </h3>
      <p>
        <ul>
          <li> social media and marketing managers </li>
          <li> digital content managers and creators </li>
          <li> SME business owners and managers </li>
          <li> government departments </li>
          <li> freelancers and consultants </li>
        </ul>
      </p>
      <h3> What’s included: </h3>
      <p>
        <ul>
          <li>light refreshments</li>
          <li>full set of training resources</li>
          <li>high quality training</li>
        </ul>
      </p>
      <h3> Prerequisites: </h3>
      <p>
        <ul>
          <li> An understanding of social media and its application in a business environment (this is covered in our <a href="/social-media-intro">Introduction to Social Media</a> course). </li>
        </ul>
      </p>
      <p> <strong>Please note:</strong> You will need to bring your own laptop.</p>
      <p> Each session is restricted to limited participants (six to ten attendees), so you have the opportunity to fully benefit from the trainer’s knowledge and advice. </p>

      <a class="button-inverted" href="https://www.trybooking.com/book/event?embed&eid=393409" target="_blank"> Get the jump on your competition with our social media strategy training. </a>

<div>
{% include course-price-discount.html %}
</div>

  <div class="background-grey">
      {% include profile-jen.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Workshop details: </h3>
      <img src="/images/social-media-strategy.jpg" />
      <h5> Developing a social media strategy </h5>
      <p> This valuable workshop will see you learn to create a workable social media strategy so that you can easily and effectively implement your social media marketing activities throughout the year. </p>
      <p> <strong> Duration: </strong> Full day (at half day price) </p>
      <p> <strong> Dates: </strong> Tuesday 13 November 2018 </p>
      <p> <strong> Time: </strong> 9am - 4:30pm (7.5 hours) </p>
      <p> <strong> Location: </strong> Intersect, 167 Flinders Street, Adelaide, South Australia </p>
      {% include course-price.html %}
      <p> <em> Discount available when booked with other sessions </em> </p>
      <a class="button-inverted" href="https://www.trybooking.com/book/event?embed&eid=393409" target="_blank"> Join Now </a>
    </div>

  <div>
    {% include venue-summary.html %}
  </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related workshops: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-analytics.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-fb-ig-ads.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-consults.html %}
    </div>

  </div>

</section>
