---
layout: default
title: Social Media Marketing Training Workshops in Adelaide
title-header: Social Media Marketing Training Workshops
meta-description: Hands on and practical social media marketing workshops led by some of Australia's best and most helpful digital marketers.
featured-image_path: /images/social-media-marketing-feature.jpg
---

  <section class="width-80">

        <h4> With some of Adelaide’s best social media marketers delivering this training, you can be assured that you are getting the right advice and expertise so you can upskill and develop your marketing prowess with confidence. </h4>
        <p> Our workshops do more than just tell you what to post on Facebook, they help you construct a workable strategy, create exceptional content and deliver marketing to specifically speak to your goals and objectives, making sure you’re putting your social media channels to their best use. </p>

  </section>

  <section class="grid-centered no-padding centred">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-consults.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-fb-ig-ads-individual.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-strategy.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-fb-ig-ads-multiple.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-analytics.html %}
    </div>

  </section>
