---
layout: default
title: Social Media Marketing Training Workshops in Adelaide
title-header: Social Media Marketing Training Workshops
meta-description: Jen has extensive experience in the social media space and an unending enthusiasm for presenting. Participants will be delighted by her effervescent and good humoured nature.
featured-image_path: /images/social-media-feature.jpg
---

  <section class="grid-centered no-padding centred">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-analytics.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-fb-ig-ads.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-strategy.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-consults.html %}
    </div>

  </section>
