---
layout: default
title: Mastering Twitter and LinkedIn Advertising - Training Workshop in Adelaide
title-header: Mastering Twitter and LinkedIn Advertising
meta-description: Enhance your Twitter and LinkedIn marketing, with strategic, targeted and effective advertising campaigns.
featured-image_path: /images/social-media-advertising-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h2>Workshop overview:</h2>
      <h3> Twitter and LinkedIn hold a wealth of data that you can strategically leverage to grow your online communities, and reach and engage your audience. </h3>
      <p> This workshop will explain the advertising and targeting options available within LinkedIn and Twitter to enable you to plan, set up and track your campaigns and results. </p>
      <h3> This workshop will cover: </h3>
      <p>
        <ul>
          <li> the power of paid advertising and the significant results it can bring </li>
          <li> Twitter and LinkedIn advertising options </li>
          <li> an introduction to social media advertising insights. </li>
        </ul>
      </p>
      <h3> Workshop objectives: </h3>
      <p>
        <ul>
          <li> to develop understanding and confidence in the options available for advertising on Twitter and LinkedIn </li>
          <li> how to use social media advertising to achieve business goals </li>
        </ul>
      </p>
      <h3> This workshop is for: </h3>
      <p>
        <ul>
          <li> people who manage Twitter accounts and/or LinkedIn company pages, and want to understand and master their advertising options </li>
        </ul>
      </p>
      <h3> What’s included: </h3>
      <p>
        <ul>
          <li>full set of training resources</li>
          <li>high quality training</li>
        </ul>
      </p>
      <h3> Prerequisites: </h3>
      <p>
        <ul>
          <li> a Twitter account and/or Admin access to a LinkedIn company page </li>
          <li> an understanding of social media and its application in a business environment (this is covered in our <a href="/social-media-intro"> Social Media for Business</a> workshop) </li>
        </ul>
      </p>
      <p> <strong> Please note: </strong>You are required to bring your own laptop. </p>
      <p> Each session is restricted to limited participants (six to ten attendees), so you have the opportunity to fully benefit from the trainer’s knowledge and advice. </p>

      <a class="button-inverted" href="#" target="_blank"> Power up your profits with social media advertising. Book your spot. </a>

<div>
{% include course-price-discount.html %}
</div>

  <div class="background-grey">
      {% include profile-jen.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Workshop details: </h3>
      <img src="/images/social-media-advertising.jpg" />
      <h5> Mastering Twitter and LinkedIn Advertising </h5>
      <p> Enhance your Twitter and LinkedIn marketing, with strategic, targeted and effective advertising campaigns. </p>
      <p> <strong> Duration: </strong> 2 hours (afternoon) </p>
      <p> <strong> Date: </strong> Thursday 26 July 2018 </p>
      <p> <strong> Time: </strong> 2 - 4pm (2 hours) </p>
      <p> <strong> Location: </strong> Intersect, 167 Flinders Street, Adelaide, South Australia </p>
      {% include course-price-2-hours.html %}
      <a class="button-inverted" href="#" target="_blank"> Join Now </a>
    </div>

  <div>
    {% include venue-summary.html %}
  </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related workshops: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-strategy.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-content.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-analytics.html %}
    </div>

  </div>

</section>
