---
layout: default
title: Webinar - Removing internal traffic from your Google Analytics
title-header: Webinar - Removing internal traffic from your Google Analytics
meta-description: Google Analytics provides a wealth of valuable data. In this free webinar we will review the useful reports that allow you to develop a helpful picture of exactly who is visiting – and most engaged – with your website.
featured-image_path: /images/google-analytics-tablet-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->

      <h3> Google Analytics provides a wealth of valuable data. However your own and your team's visits to the website, not to mention that of your suppliers or even website developer's visits, can skew the overall quantity and quality of your data. </h3>

      <p> In this free webinar, Erica will explain how you can exclude this type of traffic from your Google Analytics reports safely, to ensure no overall data loss. </p>

      <a class="button-inverted" href="https://webinar.getresponse.com/hqkgC/removing-internal-traffic-in-google-analytics" target="_blank"> Focus on who really matters. Book your spot. </a>

  <div class="background-grey">
      {% include profile-erica.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Webinar details: </h3>
      <img src="/images/google-analytics-tablet.jpg" />
      <h5> Removing internal traffic in Google Analytics </h5>
      <p> We often get asked: "Can I remove internal traffic from my Google Analytics reports?" The answer is: Yes! You can! And this free webinar will show you how… </p>
      <p> <strong> Duration: </strong> 45 minutes </p>
      <p> <strong> Date: </strong> Wednesday 19 September 2018 </p>
      <p> <strong> Times: </strong> 10:30 – 11:15am ACST </p>
      <a class="button-inverted" href="https://webinar.getresponse.com/hqkgC/removing-internal-traffic-in-google-analytics" target="_blank"> Join Now </a>
    </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related workshops: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-ga-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-ga-further.html %}
    </div>

  </div>

</section>
