---
layout: default
title: Webinar - Getting Your Sh*t Organised – Social Media Tips
title-header: Webinar - Getting Your Sh*t Organised
meta-description: Good organisation is a critical skill for a successful social media manager. In this free webinar, social media scout Jen, will share her tried and true tips for getting – and staying – organised.
featured-image_path: /images/webinar-social-media-organisation-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h3> "For every minute spent in organizing, an hour is earned," Benjamin Franklin. </h3>
      <p> Our social media scout, Jen Evison, is uber-organised; a key contributor to her successful social media results. </p>

      <p> In this free webinar, Jen will share the tools, tips and tricks that she has evolved and refined over the years to establish the systems that have served her well. </p>

      <p> Don’t miss this opportunity to learn from the best! </p>

      <h3> Webinar inclusions: </h3>
      <p>
        <ul>
          <li> Reviewing a calendar system </li>
          <li> Finding the right tools for the job </li>
          <li> Procedures and guidelines – get them out of your head and onto some paper (or into the cloud!) </li>
          <li> Managing your notifications and inbox </li>
          <li> Templates are your friend! </li>
          <li> Making it fun! </li>
        </ul>
      </p>

      <a class="button-inverted" href="https://scoutdigitaltraining.clickmeeting.com/getting-your-sh-t-organised/register" target="_blank"> Be prepared to do your best. Book your spot. </a>

  <div class="background-grey">
      {% include profile-jen.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Webinar details: </h3>
      <img src="/images/webinar-social-media-organisation.jpg" />
      <h5> Webinar: Getting your sh*t organised </h5>
      <p> Good organization is a critical skill for a successful social media manager. In this free webinar, social media scout Jen, will share her tried and true tips for getting – and staying – organised. </p>
      <p> <strong> Duration: </strong> 1 hour </p>
      <p> <strong> Date: </strong> Thursday 12 July 2018 </p>
      <p> <strong> Times: </strong> 2:30 – 3:30pm ACST </p>
      <a class="button-inverted" href="https://scoutdigitaltraining.clickmeeting.com/getting-your-sh-t-organised/register" target="_blank"> Join Now </a>
    </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related workshops: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-consults.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-fb-ig-ads-individual.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-tw-li-ads.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-facebook.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-fb-bm.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-instagram.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-twitter.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-linkedin.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-strategy.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-content.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-fb-ig-ads-multiple.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-sm-analytics.html %}
    </div>

  </div>

</section>
