---
layout: default
title: Webinar - Profiling your website visitors with Google Analytics
title-header: Webinar - Profiling your website visitors with Google Analytics
meta-description: Google Analytics provides a wealth of valuable data. In this free webinar we will review the useful reports that allow you to develop a helpful picture of exactly who is visiting – and most engaged – with your website.
featured-image_path: /images/google-analytics-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <h3> Google Analytics provides a wealth of valuable data. In this free webinar we will review the useful reports that allow you to develop a helpful picture of exactly who is visiting – and most engaged – with your website. </h3>

      <p> In this free webinar, Erica will take you through the key reports within Google Analytics that assist with undertanding the demographics and psychographics of your website visitors. </p>

      <p> This information is incredibly useful for not only understanding your target audience, but how they interact with your website, and whether you are even attracting and retaining the right people! </p>

      <a class="button-inverted" href="https://webinar.getresponse.com/hqkgC/profiling-your-visitors-using-google-analytics" target="_blank"> Truly understand your visitors. Book your spot. </a>

  <div class="background-grey">
      {% include profile-erica.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Webinar details: </h3>
      <img src="/images/google-analytics.jpg" />
      <h5> Profiling your visitors with Google Analytics </h5>
      <p> Google Analytics provides a wealth of valuable data. In this free webinar we will review the useful reports that allow you to develop a helpful picture of exactly who is visiting – and most engaged – with your website. </p>
      <p> <strong> Duration: </strong> 1 hour </p>
      <p> <strong> Date: </strong> Wednesday 8 August 2018 </p>
      <p> <strong> Times: </strong> 10:00 – 11:00am ACST </p>
      <a class="button-inverted" href="https://webinar.getresponse.com/hqkgC/profiling-your-visitors-using-google-analytics" target="_blank"> Join Now </a>
    </div>

  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related workshops: </h3>

  <div class="grid">

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-ga-intro.html %}
    </div>

    <div class="col-4_md-6_sm-12 grid-equalHeight">
      {% include course-summary-ga-further.html %}
    </div>

  </div>

</section>
