<div class="course-summary">
    <div>
        <a href="/social-media-advertising"><img src="/images/social-media-advertising.jpg" /></a>
        <a href="/social-media-advertising"><h3> Mastering Facebook and Instagram advertising </h3></a>
        <p> Learn how to take your social media marketing activity to the next level and drive meaningful results with paid campaigns for Facebook and Instagram in this insightful and game changing course. </p>
    </div>
    <div class="grid-middle">
        <div class="col-8">
          <p class="course-price">Tuesday 30 October 2018</p>
            {% include course-summary-details.html %}
        </div>
        <div class="col-4">
            <img src="/images/Jen-2017.jpg" alt="Jen Evison - Digital Marketer Adelaide" class="small-portrait-circle">
        </div>
    </div>
    <div class="grid-middle">
        <div class="col-6_md-12">
            <a class="button-inverted" href="/facebook-instagram-advertising"> Learn More </a>
        </div>
        <div class="col-6_md-12">
            <a class="button-inverted" href="https://www.eventbrite.com/e/social-media-advertising-tickets-42186191033" target="_blank"> Join Now </a>
        </div>
    </div>
</div>
