<h3 class="margin-top"> Discounts for booking multiple sessions: </h3>
<p> The training sessions can be taken individually, but have also been designed to work together to build on the knowledge and skills gained. </p>
<p> There are also great discounts for booking three or more sessions: </p>
<p>
  <ul>
    <li> 1-2 sessions: $330 + BF + GST (per session)</li>
    <li> 3 or more sessions: $300 + BF + GST (per session) </li>
  </ul>
</p>
<p> For multiple session bookings, you can also <a href="/contact">contact us to enquire about payment plan options</a>.</p>
