<div class="course-summary">
    <div>
        <a href="/google-analytics-ecommerce"><img src="/images/ecommerce-google-analytics.jpg" /></a>
        <a href="/google-analytics-ecommerce"><h3> Ecommerce Google Analytics </h3></a>
        <p> If you run an ecommerce site this is the ultimate analytics course for you. This course will help you to make informed and clear decisions quickly that fast track you to getting the results you want and set you on a path of improved performance. </p>
    </div>
    <div class="grid-middle">
        <div class="col-6">
          <p class="course-price">Thursday 19 April 2018</p>
            {% include course-summary-details.html %}
        </div>
        <div class="col-6">
            <img src="/images/Petra-2017.jpg" alt="Google Analytics and Google Tag Manager Adelaide - Petra Manos" class="small-portrait-circle">
        </div>
    </div>
    <div class="grid-middle">
        <div class="col-6_md-12">
            <a class="button-inverted" href="/google-analytics-ecommerce"> Learn More </a>
        </div>
        <div class="col-6_md-12">
            <a class="button-inverted" href="https://www.eventbrite.com/e/ecommerce-google-analytics-tickets-42217519738" target="_blank"> Join Now </a>
        </div>
    </div>
</div>
