<div class="course-summary">
    <div>
        <a href="/social-media-consultations"><img src="/images/social-media-consultations-jen.jpg" /></a>
        <a href="/social-media-consultations"><h3> Social media consultations </h3></a>
        <p> Know you need some kind of social media training but not sure what kind, or where to start? Book a dedicated one-on-one session with social media scout, Jen, to review your situation and determine your needs. </p>
    </div>
    <div class="grid-middle">
        <div class="col-8">
          <p class="course-price">Tuesday 3 July 2018 </br> Thursday 5 July 2018, limited places</p>
          <p class="course-price">Adelaide CBD</p>
          <p class="course-price">$150 + BF + GST</p>
        </div>
        <div class="col-4">
            <img src="/images/Jen-2017.jpg" alt="Jen Evison - Digital Marketer Adelaide" class="small-portrait-circle">
        </div>
    </div>
    <div class="grid-middle">
        <div class="col-6_md-12">
            <a class="button-inverted" href="/social-media-consultations"> Learn More </a>
        </div>
        <div class="col-6_md-12">
            <a class="button-inverted" href="https://www.trybooking.com/book/event?embed&eid=395087" target="_blank"> Join Now </a>
        </div>
    </div>
</div>
