<div class="course-summary">
    <div>
        <a href="/google-tag-manager-intro"><img src="/images/google-tag-manager-intro.jpg" /></a>
        <a href="/google-tag-manager-intro"><h3> Getting to know Google Tag Manager </h3></a>
        <p> Short description. </p>
    </div>
    <div class="grid-middle">
        <div class="col-6">
            {% include course-summary-details.html %}
        </div>
        <div class="col-6">
            <img src="/images/Petra-2017.jpg" alt="Google Analytics and Google Tag Manager Adelaide - Petra Manos" class="small-portrait-circle">
        </div>
    </div>
    <div class="grid-middle">
        <div class="col-6_md-12">
            <a class="button-inverted" href="/google-tag-manager-intro"> Learn More </a>
        </div>
        <div class="col-6_md-12">
            <a class="button-inverted" href="#" target="_blank"> Join Now </a>
        </div>
    </div>
</div>
