<div class="course-summary">
    <div>
        <a href="/social-media-analytics"><img src="/images/social-media-analytics.jpg" /></a>
        <a href="/social-media-analytics"><h3> Social media analytics and reporting </h3></a>
        <p> This unique course will arm you with all the information you need to demonstrate social media return on investment [ROI] for your organisation and provide quantifiable data that what you’re doing is working. </p>
    </div>
    <div class="grid-middle">
        <div class="col-6">
          <p class="course-price">Thursday 12 April 2018</p>
            {% include course-summary-details.html %}
        </div>
        <div class="col-6">
            <img src="/images/Jen-2017.jpg" alt="Jen Evison - Digital Marketer Adelaide" class="small-portrait-circle">
        </div>
    </div>
    <div class="grid-middle">
        <div class="col-6_md-12">
            <a class="button-inverted" href="/social-media-analytics"> Learn More </a>
        </div>
        <div class="col-6_md-12">
            <a class="button-inverted" href="https://www.eventbrite.com/e/social-media-analytics-and-reporting-tickets-42186568161" target="_blank"> Join Now </a>
        </div>
    </div>
</div>
