<div class="course-summary">
    <div>
        <a href="/instagram-masterclass"><img src="/images/instagram-masterclass.jpg" /></a>
        <a href="/instagram-masterclass"><h3> Instagram masterclass </h3></a>
        <p> Instagram is growing exponentially as not only a popular social media platform, but an effective place to market businesses and organisations. Help your profile stand out. </p>
    </div>
    <div class="grid-middle">
        <div class="col-8">
          <p class="course-price">Tuesday 7 August 2018</br>Tuesday 16 October 2018</p>
            {% include course-summary-details.html %}
        </div>
        <div class="col-4">
            <img src="/images/Jen-2017.jpg" alt="Jen Evison - Digital Marketer Adelaide" class="small-portrait-circle">
        </div>
    </div>
    <div class="grid-middle">
        <div class="col-6_md-12">
            <a class="button-inverted" href="/instagram-masterclass"> Learn More </a>
        </div>
        <div class="col-6_md-12">
            <a class="button-inverted" href="#" target="_blank"> Join Now </a>
        </div>
    </div>
</div>
