<div class="grid">
  <div class="col-7_md-6_sm-12 no-padding">
    <h2> About your trainers: </h2>
    <h3>At Scout Digital Training, we pride ourselves on sourcing the best local practising experts on the topics we offer you in our popular courses. </h3>
    <p> You’ll find each trainer experienced, knowledgeable and, best of all, friendly and enthusiastic. </p>
    <p> <a href="/our-trainers">Discover more about your trainers here.</a> </p>
  </div>
  <div class="col-5_md-6_sm-12-middle">
    <img src="/images/Scout-trainers-2018.jpg" alt="digital trainers adelaide" class="large-portrait-circle">
  </div>
</div>
