<h2> About your Google Analytics, Google Adwords, SEO and email marketing trainer: </h2>
<div class="grid">
  <div class="col-7_md-6_sm-12 no-padding">
    <h3>Erica Stacey</strong> – from <a href="www.scoutdigitalmarketing.com.au" target="_blank">Scout Digital Marketing.</a></h3>
    <p> Erica is a Google Analytics, Google AdWords and Mobile Sites certified professional, so you’re in qualified hands. </p>
    <p> She has also recently completed an intensive training bootcamp with the Institute of Code and has an extensive wealth of online proficiencies. </p>
    <p> Erica has had over a decade of experience – working for agencies and a wide range of clients – in digital and social media marketing strategy, website development, search engine optimisation (SEO) and marketing (SEM), content marketing, inbound marketing, online advertising and so much more. </p>
    <p> A professional in the field of design, branding and marketing, she is a trusted name in the Adelaide community to help an array of businesses sort out and achieve their marketing objectives. </p>
  </div>
  <div class="col-5_md-6_sm-12-middle">
    <img src="/images/Erica-2017.jpg" alt="Digital Marketer Adelaide - Erica Stacey (nee Nistico)" class="large-portrait-circle">
  </div>
</div>
