<h2> About your email marketing trainer: </h2>
<div class="grid">
  <div class="col-7_md-6_sm-12 no-padding">
    <h3> Fiona Blinco – from <a href="http://diydigital.com.au" target="_blank">DIY Digital.</a> </h3>
    <p>As a specialist small business and sole trader online marketer, Fiona Blinco has a wealth of knowledge that she is ready to share for those who want to upgrade their online marketing prowess.</p>
    <p>Her obvious passion lies with keeping customers loyal whilst discovering new ones via a savvy online presence.</p>
    <!-- <p>As one of the very few registered MailChimp experts in South Australia, you can be assured of email marketing expertise in Fiona’s courses.</p> -->
    <p>She’ll help participants uncover the transformative ways of using databases and segmentation and other email marketing platforms out there to create and sustain, not just regular, but effective communication. </p>
  </div>
  <div class="col-5_md-6_sm-12-middle">
    <img src="/images/Fiona-2017.jpg" alt="Small business and sole trader online marketer Adelaide - Fiona Blinco" class="large-portrait-circle">
  </div>
</div>
