<h2> About your trainer </h2>
<div class="grid">
  <div class="col-6_sm-12 no-padding">
    <p> Petra Manos – from <a href="http://www.web-data-analytics.com" target="_blank">Web Data Analytics.</a> </p>
    <p>Petra’s passion for the web started at the early age of twelve years old and has seen her develop a successful and steadfast career in information marketing and web analytics. She is a specialist in offering Google Analytics and Google Tag Manager configuration reviews, website analytics strategy sessions and customised analysis, customised implementation of Google Analytics and Google Tag Manager and has Google Analytics Individual Certification.</p>
    <p>With a focus on determined problem solving and root cause analysis in software, Petra knows how to capitalise on web and automated analytics to improve all business performance and increase revenues.</p>
    <p>Participants will feel at ease with her patient manner and thoughtful delivery, coupled with her extensive analytics and programming knowledge. She has a notable ability to translate quite complex concepts into digestible chunks that anyone can learn. </p>
  </div>
  <div class="col-6_sm-12-middle">
    <img src="/images/Petra-2017.jpg" alt="Google Analytics and Google Tag Manager specialist Adelaide - Petra Manos" class="large-portrait-circle">
  </div>
</div>
