<h2> About your social media marketing trainer: </h2>
<div class="grid">
  <div class="col-7_md-6_sm-12 no-padding">
    <h3> Jen Evison – from <a href="https://jenniferevison.com" target="_blank">Jennifer Evison Consulting.</a></h3>
    <p> Jen has extensive experience in the social media space and is renowned for her food and beverage marketing. Previously, she managed the social media channels for <a href="http://allrecipes.com/?gin=AU" target="_blank">Allrecipes</a> in the US before moving to Australia and continues to work with Australian and US businesses helping them achieve social media success over the past decade, including a prominent wine brand.</p>
    <p>With tertiary qualifications in business marketing, she has a genuine talent for strategising, being across best practice and creatively discovering and constructing effective content for a range of social media channels.</p>
    <p>Jen has an unending enthusiasm for presenting and participants will be delighted by her effervescent and good humoured nature. </p>
  </div>
  <div class="col-5_md-6_sm-12-middle">
    <img src="/images/Jen-2017.jpg" alt="Digital Marketer Adelaide - Jen Evison" class="large-portrait-circle">
  </div>
</div>
