<h6>Browse our workshops:</h6>
<p><a href="/google-analytics-training">Google Analytics </a></p>
<p><a href="/google-adwords-training">Google Ads </a></p>
<p><a href="/seo-training">Search Engine Optimisation</a></p>
<p><a href="/social-media-training">Social Media Marketing </a></p>
<p><a href="/email-marketing-training">Email Marketing </a></p>
<p><a href="/google-tag-manager-training">Google Tag Manager</a></p>
<p><a href="/all-courses">VIEW ALL WORKSHOPS</a></p>
<h6>Workshop calendar:</h6>
<p><a href="/course-calendar">View all upcoming workshop dates</a></p>
