<section class="fixed no-padding">
  {% include ribbon-top.html %}
</section>

<header>
  <section class="grid-middle no-padding">
    <div class="col-6_sm-12">
      <a href="/"><img class="logo" src="/images/scout-digital-training-logo-horizontal.png" alt="Scout Digital Training Courses"></a>
    </div>
    <div class="col-6_sm-12 mob-hide">
      <nav id="primary_nav_wrap">
        <ul>
          <li><a href="#">About</a>
            <ul>
              <li><a href="#">About Scout Digital Training</a></li>
              <li><a href="#">Our Trainers</a></li>
            </ul>
          </li>
          <li><a href="#">Courses</a>
            <ul>
              <li><a href="#">Course Calendar</a></li>
              <li><a href="#">View All Courses</a></li>
              <li><a href="#">Google Analytics Courses</a></li>
              <li><a href="#">Google Adwords Courses</a></li>
              <li><a href="#">Google Tag Manager Courses</a></li>
              <li><a href="#">Social Media Marketing Courses</a></li>
              <li><a href="#">Email Marketing Courses</a></li>
              <li><a href="#">Search Engine Optimisation (SEO) Courses</a></li>
            </ul>
          </li>
          <li><a href="#">Webinars</a>
          </li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </section>
</header>
