<section class="fixed no-padding">
  {% include ribbon-top.html %}
</section>

<header>
  <section class="grid-middle no-padding">
    <div class="col-6_sm-12">
      <a href="/"><img class="logo" src="/images/scout-digital-training-logo-horizontal.png" alt="Scout Digital Training Courses"></a>
    </div>
    <div class="col-6_sm-12 mob-hide">
      <nav id="primary_nav_wrap">
        <ul>
          <li><a href="/about">About</a>
            <ul>
              <li><a href="/about">About Scout Digital Training</a></li>
              <li><a href="/our-trainers">Our Trainers</a></li>
            </ul>
          </li>
          <li><a href="/courses">Courses</a>
            <ul>
              <li><a href="/course-calendar">Course Calendar</a></li>
              <li><a href="/all-courses">View All Courses</a></li>
              <li><a href="/google-analytics-training">Google Analytics Courses</a></li>
              <li><a href="/google-adwords-training">Google Adwords Courses</a></li>
              <li><a href="/google-tag-manager-training">Google Tag Manager Courses</a></li>
              <li><a href="/social-media-training">Social Media Marketing Courses</a></li>
              <li><a href="email-marketing-training">Email Marketing Courses</a></li>
              <li><a href="/seo-training">Search Engine Optimisation (SEO) Courses</a></li>
            </ul>
          </li>
          <li><a href="/webinars">Webinars</a>
          </li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </section>
</header>
