<div class="relative blockquote">
  <i class="fa fa-quote-left featured"></i>
  <blockquote>
    <p> I found the <a href="/seo-training">SEO training</a> to be extremely informative and it has really inspired me to address our organisation’s overall SEO and digital marketing more significantly. </p>
  </blockquote>
  <i class="fa fa-quote-right quote-right featured"></i>
</div>
<div class="grid-middle">
  <div class="col-4_sm-12 grid-center">
    <img src="/images/junction-australia-logo.svg">
  </div>
  <div class="col-8_sm-12">
    <p> <bold>Emily Mirra</bold> <br>
    <i>Marketing Assistant <br>
    <a href="https://junctionaustralia.org.au" target="_blank">Junction Australia</a>.</i> </p>
  </div>
</div>
