<div class="relative blockquote">
  <i class="fa fa-quote-left featured"></i>
  <blockquote>
    <p> <a href="/google-analytics-further">Taking Google Analytics Further</a> offered many practical tips I could implement immediately to improve our website tracking and reporting. </p>
  </blockquote>
  <i class="fa fa-quote-right quote-right featured"></i>
</div>
<div class="grid-middle">
  <div class="col-4_sm-12 grid-center">
    <img src="/images/raa-logo.png">
  </div>
  <div class="col-8_sm-12">
    <p> <bold>Alex Chen</bold> <br>
    <i>Digital Marketing Coordinator <br>
    <a href="http://www.raa.com.au/travel" target="_blank">RAA Travel</a>.</i> </p>
  </div>
</div>
