<h2 class="margin-top"> The training venue </h2>
<p> Our half day courses are held in modern meeting rooms which are conveniently located in the Adelaide CBD. </p>
<p> <bold> Intersect </bold> <br>
  167 Flinders Street <br>
  Adelaide, South Australia </p>
<p><a href="/contact#venue">Learn more about car parking and venue facilities here.</a></p>
<div class="maps">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3271.176914029937!2d138.60497445132665!3d-34.92709978028062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ab0ced1addde67f%3A0x81f763ffd1e5dea6!2sIntersect+Flinders+St!5e0!3m2!1sen!2sau!4v1523852468547" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
