<h2 class="margin-top"> The training venue </h2>
<p> Our half day courses are held in modern meeting rooms which are conveniently located in the Adelaide CBD. </p>
<p> <bold> Please note: </bold> You will need to bring your own laptop. </p>
<p> <bold> Intersect </bold> <br>
  167 Flinders Street <br>
  Adelaide, South Australia </p>
<h4> Car parking </h4>
<p> Intersect is surrounded by parking options. Undercover car parks or public transport are recommended for the half day training courses. </p>
<p> The nearest carpark is: <a href="https://upark.com.au/locations/pirie-flinders/" target="_blank">UPark on Pirie/Flinders.</a> </p>
<h4> Food and drinks </h4>
<p> Coffee, tea, water, biscuits and fruit are provided during the training session. </p>
<p> Intersect is conveniently situated near a number of cafes, should you require them. </p>
<div class="maps">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3271.176914029937!2d138.60497445132665!3d-34.92709978028062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ab0ced1addde67f%3A0x81f763ffd1e5dea6!2sIntersect+Flinders+St!5e0!3m2!1sen!2sau!4v1523852468547" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
